@keyframes alpha-in-faded-right{
    0%{filter:blur(18px);opacity:0;transform:translate(-70px,0);}
    60%{filter:none;transform:translate(0,0);}
    100%{opacity:60%;}
}
@keyframes alpha-in-faded-left{
    0%{filter:blur(18px);opacity:0;transform:translate(70px,0);}
    60%{filter:none;transform:translate(0,0);}
    100%{opacity:60%;}
}
@keyframes alpha-in{from{opacity:0;}to{opacity:100%;}}
.screenshot{
    display:inline-block;
    background-color:#252627;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15);
    border-radius:10px;
    max-width:50%;
    width:256px;
    height:553px;
    margin:12px;
    vertical-align:middle;
	animation-name:alpha-in;
	animation-duration:0.4s;}
.screenshot.faded{
    display:inline-block;
    background-color:#111213;
    border-radius:6px;
    max-width:40%;
    width:192px;
    height:414px;
    opacity:60%;
    vertical-align:middle;
    animation-duration: 1s;
    z-index:-1;}
.screenshot.right{animation-name:alpha-in-faded-right;}
.screenshot.left{animation-name:alpha-in-faded-left;}
.carousel{margin:48px 0;min-height:550px;}
@media only screen and (max-width:720px){.getItOnBadge{float:none;}}
@media only screen and (max-width:800px){.screenshot.faded{display:none;}}
@media only screen and (max-width:580px){.screenshot{
    background-color:#252627;
    border-radius:20px;
    max-width:90%;
    width:256px;
    margin:0px;}}
