.tb { color: #2fbdff; }
.tp { color: #ffa4ce; }
.tw { color: #ffffff; }

.th {
  background-image: linear-gradient(to bottom, #2fbdff 35%, #ffa4ce 35%, #ffa4ce 45%, #ffffff 45%, #ffffff 55%, #ffa4ce 55%, #ffa4ce 65%, #2fbdff 65%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.trans {
  font-size: 2.4em;
  text-align: center;
  margin: 1em 0;
  font-weight: 900;
}

.tb { --n: 0ms; }
.tp { --n: -300ms; }
.tw { --n: -600ms; }
.th { --n: -700ms; }

@keyframes float {
  0%   { translate: 0 0;}
  25%  { translate: 0 -.1em;}
  50%  { translate: 0 0;}
  75%  { translate: 0 .1em;}
  100% { translate: 0 0;}
}
.tb, .tp, .tw, .th {
  display: inline-block;
  animation: float 1s linear var(--n) infinite forwards running;
}

.webring {
  display: flex;
  flex-direction: row;
}
.webring:not(:first-child) {
  margin-top: .5em;
}
.webring .center {
  flex-grow: 1;
  text-align: center;
  color: var(--base-foreground);
  text-decoration: underline solid var(--color-accent) 2px !important;
}

#statuscafe {
  line-height: 1.5;
  margin: 1em 0;
  position: relative;
}
#statuscafe-header {
  background-color: var(--surface-background-dim);
  color: var(--base-foreground-weak);
  display: inline-block;
  padding: .2em .6em;
  margin-top: -1px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: inset 0 0 0 1px var(--base-foreground-border), inset 0 -1px #fff1, 0 0 0 1px #0006;
}
#statuscafe-content {
  background-color: var(--surface-background);
  padding: .5em .6em;
  box-shadow: inset 0 0 0 1px var(--base-foreground-border), inset 0 1px #fff3, inset 0 -1px #fff1, 0 0 0 1px #0006;
  border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
  z-index: 99px;
  position: relative;
}


#character-sheet dl article {
  display: grid;
  grid-template-columns: 15ch auto;
}
#character-sheet dl dt {
  font-weight: bold;
}

#character-sheet > header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
#character-sheet > header > img {
  height: 72px;
  width: 72px;
  align-self: center;
  margin-top: -36px;
  display: inline-block;
  border-radius: 999px;
  position: relative;
}
@keyframes movebg-h1 {
  0% {background-position-x: 0;}
  100% {background-position-x: 512px;}
}
#character-sheet > header::before {
  content: "";
  height: 76px;
  width: 76px;
  position: absolute;
  top: -35px;
  align-self: center;
  background-image: var(--rainbow);
  background-size: 512px 512px;
  animation: movebg-h1 3s linear 0ms infinite forwards running;
  border-radius: 999px;
}