a.chill { color: var(--foreground); }
a.chill:not(:hover) { text-decoration: underline solid var(--color-accent) 2px; }

a.icon {
  color: var(--foreground);
  text-align: center;
  font-weight: normal;
  font-size: .9em;
}
a.icon > img {
  display: block;
  margin: 0 auto;
  width: 64px;
  height: 64px;
}
.icons-grid {
  display: grid;
  --columns: 3;
  gap: .5em;
  grid-template-columns: repeat(var(--columns), calc((100% - .5em * (var(--columns) - 1)) / var(--columns)));
}
.blahaj { height: 1em; vertical-align: middle; }

.tb { color: #2fbdff; }
.tp { color: #ffa4ce; }
.tw { color: #ffffff; }
.th {
  background-image: linear-gradient(to bottom, #2fbdff 35%, #ffa4ce 35%, #ffa4ce 45%, #ffffff 45%, #ffffff 55%, #ffa4ce 55%, #ffa4ce 65%, #2fbdff 65%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.tb { --n: 0ms; }
.tp { --n: -300ms; }
.tw { --n: -600ms; }
.th { --n: -700ms; }

@keyframes float {
  0%   { translate: 0 0;}
  25%  { translate: 0 -.1em;}
  50%  { translate: 0 0;}
  75%  { translate: 0 .1em;}
  100% { translate: 0 0;}
}
.tb, .tp, .tw, .th {
  display: inline-block;
  animation: float 1s linear var(--n) infinite forwards running;
}

.bunny {
  position: absolute;
  inset: auto 0 1em auto;
}

.webring {
  display: flex;
  flex-direction: row;
}
.webring:not(:first-child) {
  margin-top: .5em;
}
.webring .center {
  flex-grow: 1;
  text-align: center;
}


.status {
  line-height: 1.5;
  background-color: var(--surface-background-dim);
}
.status-header {
  color: var(--foreground-weak);
  margin-bottom: .5em;
}
#fedi-content p { margin: 0; }
#fedi-content p + p { margin-top: 1em; }


#statuscafe-face {
  position: absolute;
  inset: 0 auto auto 0;
  margin: .5em .8em;
  line-height: 1.5;
}
.trans {
  position: absolute;
  inset: -2em 0 auto auto;
  text-align: center;
  margin: .6em;
  font-weight: 900;
  background-image: linear-gradient(to top, #27082ca3, #1a1336);
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  padding: .3em .6em;
  rotate: 10deg;
}


#character-sheet dl article {
  display: grid;
  grid-template-columns: 15ch auto;
}
#character-sheet dl dt {
  font-weight: bold;
}

#character-sheet > header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
#character-sheet > header > img {
  height: 72px;
  width: 72px;
  align-self: center;
  margin-top: -36px;
  display: inline-block;
  border-radius: 999px;
  position: relative;
}

#character-sheet > header::before {
  content: "";
  height: 80px;
  width: 80px;
  position: absolute;
  top: -37px;
  align-self: center;
  background-image: var(--rainbow);
  background-size: 512px 512px;
  animation: movebg-header 3s linear 0ms infinite forwards running;
  border-radius: 999px;
  box-shadow: inset 0 0 0 1px #fff2, inset 0 1px #fff8, inset 0 -1px #fff3, 0 0 0 1px #0006;
}