*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;scrollbar-color: #fff9 transparent;}
.pixelart {image-rendering:pixelated;}

a {
  color: unset;
  font-weight: 700;
  text-decoration: none;
}
a:hover:not(.no-deco) { text-decoration: underline wavy currentColor 1px; }
a:focus,[tabindex]:focus{outline:#fff 3px solid;}
@supports selector(:focus-visible){a:focus:not(:focus-visible),[tabindex]:focus:not(:focus-visible){outline:none;}}
a:focus-visible{outline:#fff 3px solid;}

:root {
  font-family: Inter, 'Noto Sans', system-ui, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
	color-scheme: dark;
  --foreground-hint: #fff8;
  --border-radius: 24px;
  background-color: #000;
  background-image: url('assets/textures/starry.png');
  color: #fff;
}
::selection {
  background-color: #fff;
  color: #000;
}

body {
  margin: 64px 0;
}
section {
  max-width: 512px;
  margin: 0 auto;
  padding: 2em;
  background-color: #000;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
}
hr {
  margin: 2em -2em;
  border: none;
  border-top: 1px solid #ddd;
}

p {
  margin: 1em 0 .5em;
}
p > .extra {
  color: var(--foreground-hint);
  margin-left: 1ch;
}


#me {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
#avatar {
  display: flex;
  flex-direction: row;
  place-items: center;
}
#avatar > img {
  height: 96px;
  width: 96px;
  border-radius: 999px;
  border: 4px solid #000;
  box-shadow: 0 0 0 3px #fff;
}
#statuscafe {
  font-weight: unset;
  text-decoration: none;
  margin-left: 20px;
  margin-top: -1.5em;
  text-shadow: none;
}
#statuscafe > .content {
  position: relative;
  line-height: 1.5;
  border-radius: .5em;
  background-color: #ddd;
  color: #222;
  padding: .5em .6em;
  font-weight: 700;
}
#statuscafe > .content::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  rotate: 45deg;
  background-color: #ddd;
  inset: 50% auto 50% -5px;
  translate: 0 -50%;
}
#statuscafe > .header {
  color: var(--foreground-hint);
}
#statuscafe:hover > .header {
  text-decoration: underline wavy currentColor 1px;
}

.icons-grid {
  display: grid;
  --columns: 7;
  gap: 1em;
  grid-template-columns: repeat(var(--columns), calc((100% - 1em * (var(--columns) - 1)) / var(--columns)));
  margin: -1px auto;
  max-width: 960px;
}
.icons-grid > a {
  text-align: center;
  font-size: .9em;
  padding: .5em 0;
  transition: background-position .3s, background-color .3s, letter-spacing .2s;
}
.icons-grid > a > img {
  display: block;
  margin: 0 auto;
  width: 64px;
  height: 64px;
  padding: 4px;
  transition: scale .3s;
  image-rendering: pixelated;
}
.icons-grid > a:hover > img { scale: 1.2; }
.icons-grid > a:hover {
  letter-spacing: .05em;
}

.webrings {
  font-family: monospace;
  margin: 0 auto;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.webring {
  display: flex;
  flex-direction: row;
  line-height: 1;
}
.webring:not(:first-child) {
  margin-top: 1em;
}
.webring .center {
  flex-grow: 1;
  text-align: center;
}

.webring .center a:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.webring .center a:hover::before {
  content: "▓▒░ ";
  text-align: start;
}

.webring .center a:hover::after {
  content: " ░▒▓";
  text-align: end;
}

table {
  font-family: monospace;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin: -.25em 0;
}
table td, table th {
  text-align: start;
  padding: .25em 0;
}
table th {
  padding-right: 1ch;
  font-weight: normal;
  min-width: 12ch;
}
table td::before {
  content: ":: ";
}
.icon {
  margin-right: 1ch;
  height: 1.2em;
  vertical-align: middle;
}

.blahaj { height: 1.4em; vertical-align: middle; }

@media only screen and (max-width:860px) {
  .icons-grid { --columns: 5; }
}
@media only screen and (max-width:620px) {
  #avatar {
    place-items: start;
    flex-direction: column;
  }
  #statuscafe {
    margin: 0;
  }
  #statuscafe > .header {
    text-align: end;
  }
  #statuscafe > .content::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    rotate: 45deg;
    inset: 0 auto auto 45px;
    margin-left: -5px;
    translate: 0 -50%;
  }
  :root { background-image: none; }
  .icons-grid { border-radius: 0; --columns: 3; }
  table td::before {
    content: none;
  }
  #me { border-top: none; }
  section { max-width: none; border-left: none; border-right: none; border-bottom: none; }
}