*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;scrollbar-color: var(--foreground-weak) transparent;}
.pixelart{image-rendering:pixelated;}
.float-right{float:right;}

a {
  color: unset;
  font-weight: 700;
  text-decoration: none;
}
a:hover:not(.no-deco) { text-decoration: underline wavy currentColor 1px; }
a:focus,[tabindex]:focus{outline:currentColor 3px solid;}
@supports selector(:focus-visible){a:focus:not(:focus-visible),[tabindex]:focus:not(:focus-visible){outline:none;}}
a:focus-visible{outline:currentColor 3px solid;}

:root {
  font-family: Cantarell, Inter, 'Noto Sans', system-ui, sans-serif;
  --monospace: 'JetBrains Mono', ui-monospace,
    "Cascadia Mono", "Segoe UI Mono", 
    "Roboto Mono", 
    "Oxygen Mono", 
    "Ubuntu Monospace", 
    "Source Code Pro",
    "Fira Mono", 
    "Droid Sans Mono", 
    "Courier New", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
	color-scheme: dark;
  --background: #000;
  --foreground-border: #555;
  --foreground-weak: #888;
  --foreground-subtler: #ddd;
  background-color: var(--background);
  background-image: url('assets/textures/starry.png');
  background-size: 768px;
  background-attachment: fixed;
  color: #fff;
}
::selection {
  background-color: #fff;
  color: #000;
}

body {
  max-width: 640px;
  margin: 64px auto;
  margin-top: calc(100vh / 5);
  padding: 2em;
  background-color: var(--background);
  box-shadow: 0 0 128px 128px var(--background);
}

section + section, header + section, footer {
  margin-top: 4em;
}
section:not(.flat) {
  border: 1px solid var(--foreground-subtler);
  border-radius: 12px;
}

@media only screen and (prefers-color-scheme:light) {
  :root {
    color-scheme: light;
    --background: #f0e5d8;
    --foreground-border: #c7baa3;
    --foreground-weak: #8f8884;
    --foreground-subtler: #472920;
    background-image: none;
    color: #000;
  }
  ::selection {
    background-color: #000;
    color: #fff;
  }
  section:not(.flat) {
    background-color: #f7ede1;
  }
}

footer {
  color: var(--foreground-subtler);
}
footer nav {
  display: flex;
  justify-content: center;
}
footer nav > span {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
footer nav a { font-weight: unset; }
footer nav a + a::before {
  content: "";
  border-left: 1px solid currentColor;
  margin: 0 1em;
}

@media only screen and (max-width:512px) {
  :root { background-image: none; }

  footer nav {
    display: block;
  }
  footer nav > span {
    display: block;
  }
  footer nav a {
    display: block;
  }
  footer nav a + a::before {
    content: none;
  }
}