*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;scrollbar-color: var(--fg-weak) transparent;}
.pixelart{image-rendering:pixelated;}
.float-right{float:right;}

a{color:unset;text-decoration: none;font-weight:700;}
a:hover:not(.no-deco){text-decoration:underline wavy currentColor 1px;}
a:focus,[tabindex]:focus{outline:currentColor 3px solid;}
@supports selector(:focus-visible){a:focus:not(:focus-visible),[tabindex]:focus:not(:focus-visible){outline:none;}}
a:focus-visible{outline:currentColor 3px solid;}

:root {
  font-family: Cantarell, Inter, 'Noto Sans', system-ui, sans-serif;
  --monospace: 'JetBrains Mono', ui-monospace,
    "Cascadia Mono", "Segoe UI Mono", 
    "Roboto Mono", 
    "Oxygen Mono", 
    "Ubuntu Monospace", 
    "Source Code Pro",
    "Fira Mono", 
    "Droid Sans Mono", 
    "Courier New", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
	color-scheme: dark;
  --bg: #1d110f;
  --fg-border: #584843;
  --fg-weak: #a58180;
  --fg-subtler: #e4cbca;
  background-color: var(--bg);
  background-image: url('assets/textures/starry.png');
  background-blend-mode: screen;
  background-size: 768px;
  background-attachment: fixed;
  color: #fff;
}
::selection {
  background: #fff;
  color: #1d110f;
}

body {
  max-width: 640px;
  margin: 64px auto;
  margin-top: calc(100vh / 5);
  padding: 2em;
  background: var(--bg);
  box-shadow: 0 0 128px 128px var(--bg);
  border-radius: 2em;
}

section + section, header + section, header + nav + section, footer {
  margin-top: 4em;
}
section:not(.flat) {
  border: 1px solid var(--fg-weak);
  border-radius: 12px;
}

code, pre { font-family: var(--monospace); }

.icon {
  height: 1.5em;
  width: 1.5em;
  min-height: 1.5em;
  min-width: 1.5em;
  vertical-align: top;
  text-align: center;
  font-weight: 700;
}

@media(prefers-color-scheme:light) {
  :root {
    color-scheme: light;
    --bg: #f0e5d8;
    --fg-border: #c7baa3;
    --fg-weak: #8f8884;
    --fg-subtler: #472920;
    background-image: none;
    color: #000;
  }
  ::selection {
    background: #000;
    color: #fff;
  }
  section:not(.flat) {
    background: #f7ede1;
  }
}

footer {
  color: var(--fg-subtler);
}
footer nav {
  display: flex;
  justify-content: center;
}
footer nav > span {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
}
footer nav > span:last-child {
  justify-content: end;
}
footer nav a { font-weight: unset; }
footer nav a + a::before {
  content: "";
  border-left: 1px solid var(--fg-border);
  margin: 0 1em;
}

@media(max-width:512px) {
  footer nav {
    display: block;
  }
  footer nav > span {
    display: block;
  }
  footer nav a {
    display: block;
  }
  footer nav a + a::before {
    content: none;
  }
}