*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;}
h1,h2,h3,h4{color:var(--base-foreground-strong);}
:root {
  --color-header: #ae8dff;
  --color-accent: #66ffc6;
  --color-accent-bg: #66ddc133;
  --borders: rgba(255, 255, 255, 0.2);
  --borders-strong: rgba(255, 255, 255, 1);
  --card-border-radius: 8px;
  --base-background: #17101e;
  --base-foreground: #d1aeff;
  --base-foreground-strong: #ffffff;
  font-family: serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--base-background);
  background-image: url("assets/bg_tile.gif");
  background-size: 640px 480px;
  image-rendering: pixelated;
}
::selection {
  background-color: var(--color-accent-bg);
  color: var(--color-accent);
  text-shadow: none;
}
body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 18px;
  background-color: var(--base-background);
  color: var(--base-foreground);
  image-rendering: auto;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  --border: .1em dotted currentColor;
  border-bottom: var(--border);
}
h1::after {
  content: "";
  border-top: var(--border);
  height: .1em;
  display: block;
  width: 100%;
}

h3 {
  font-size: 1em;
  font-weight: 700;
}
h3::after {
  content: "";
  color: var(--base-foreground);
  display: block;
  height: .2em;
  border-top: .1em solid currentColor;
  border-bottom: .1em solid currentColor;
  margin-top: .3em;
  margin-bottom: .3em;
}

a {
  color: var(--color-accent);
  text-decoration: underline wavy transparent 1px;
}

em {
  color: var(--base-foreground-strong);
  font-style: unset;
  font-weight: 700;
}

small {
  color: rgba(99,99,99,.8);
  font-size: .6em;
}

dl {
  display: grid;
  grid-template-columns: auto auto;
  line-height: 2;
}
dl dt {
  text-align: center;
  border-right: 1px solid currentColor;
  margin-right: 1em;
}


.badge-list a,
div.header a {
  text-decoration: none;
}

span.invisible {
  display: none;
}

code.copy-paste {
  background-color: rgba(255, 255, 255, .1);
  font-size: .7em;
  padding: .5em 1em;
  border-radius: 5px;
}


div.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}
div.header > nav,
div.header > a {
  padding: 5px 10px;
  background-color: var(--color-header);
}
div.header > a {
  max-width: 100%;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-family: monospace;
  text-transform: uppercase;
}
div.header > .spacer {
  flex-grow: 1;
  background: repeating-linear-gradient(90deg,var(--color-header),var(--color-header) 3px,transparent 0,transparent 10px);
  display: inline;
}
div.header > nav {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-family: monospace;
}
div.header > nav > a {
  text-align: center;
  text-decoration: none;
  color: #000;
}


main {
  text-shadow: 0 0 1px #0f0, -0.5px 0 0.5px #f00, 0.5px 0 0.5px #00f;
}
main > h1 {
  margin-bottom: 1em;
}
main > hr {
  color: unset;
  font-size: 2em;
  --border: .1em dotted currentColor;
  border: none;
  border-top: var(--border);
}
main > hr::before,
main > hr::after {
  content: "";
  border-bottom: var(--border);
  height: .1em;
  display: block;
  width: 100%;
}
main > p {
  margin: 1em 0;
}
main a {
  text-shadow: 0 0 3px var(--color-accent-bg), 0 0 1px #8f8, -0.5px 0 0.5px #f05, 0.5px 0 0.5px #00f;
}
main em {
  text-shadow: 0 0 6px #fff4, 0 0 1px #8f8, -0.5px 0 0.5px #f05, 0.5px 0 0.5px #00f;
}

div.box {
  padding: .8em;
  border: .1em solid currentColor;
  margin: .1em;
  border-radius: .3em;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}
.button-list a {
  text-decoration: none;
}
.button-list a:hover {
  text-decoration: underline wavy currentColor 1px;
}


#me {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}
#me .avatar {
  width: auto;
  height: 6em;
  margin-right: 1em;
}
#me header {
  font-weight: 700;
  margin-bottom: .5em;
  font-size: 2em;
  line-height: 1;
  color: var(--base-foreground-strong);
}


.badge-list img {
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
}


.grid {
  display: grid;
  --gap: 3em;
  grid-gap: var(--gap);
  grid-template-columns: repeat(2, calc(50% - var(--gap)/2));
}


@media only screen and (max-width:640px) {
  .grid {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width:480px) {
  .button-list {
    display: grid;
    --gap: .2em;
    gap: var(--gap);
    grid-template-columns: repeat(2, calc(50% - var(--gap)/2));
  }
  .button-list a {
    padding: .1em .4em;
    border: .2em solid currentColor;
  }
  .button-list a:hover {
    text-decoration: none;
  }
  div.header > a, div.header > .spacer {
    display: none;
  }
  div.header {
    display: inline;
  }
  div.header > nav {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #me .avatar {
    margin-bottom: 1em;
  }
}
