*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;scrollbar-color: var(--base-foreground-weak) transparent;}
h1,h2,h3,h4,em{color:var(--base-foreground-strong);font-weight:700;}
h1{font-size:2em;}
h2{font-size:1.2em;}
h3{font-size:1em;}
p{margin:1em 0;}
a:focus,[tabindex]:focus{outline:#fff 3px solid;}
@supports selector(:focus-visible){a:focus:not(:focus-visible),[tabindex]:focus:not(:focus-visible){outline:none;}}
a:focus-visible{outline:#fff 3px solid;}
.float-right{float:right;}
.pixelart{image-rendering:pixelated;}

a {
  color: var(--color-accent);
  font-weight: 700;
  text-shadow: .1em .05em #000000;
  text-decoration: none;
}
a:hover { text-decoration: underline wavy #fff 1px; }

:root {
  --color-accent: #f582ff;
  --base-background: #161718;
  --base-foreground: #ecddc7;
  --base-foreground-weak: #7c8486;
  --base-foreground-border: #7b9ba352;
  --base-foreground-strong: #fffcd5;
  --surface-background: #1f2329d7;
  --surface-background-dim: #121920d4;
  --rainbow: repeating-linear-gradient(to right,
    #ff647e, #ffb374, #fdff6d, #4aff5f, #89caff, #ff7eff, #ff647e);
  --rainbow-bg: repeating-linear-gradient(to right,
    #ff647e11, #ffb37411, #fdff6d11, #4aff5f11, #89caff11, #ff7eff11, #ff647e11);
  --border-radius: 2px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--base-background);
  background-image: url('assets/gif/bg.gif');
  color: var(--base-foreground);
	color-scheme: dark;
}
::selection {
  background-color: #ae7cff56;
  color: var(--color-accent);
}
body {
  width: 100%;
  max-width: 960px;
  margin: 64px auto 0 auto;
  padding: 24px;
}


section {
  background-color: var(--surface-background);
  margin: 1em 0;
  padding: .5em .6em;
  box-shadow: inset 0 0 0 1px var(--base-foreground-border), inset 0 1px 0 0 #fff2, 0 0 0 1px #0006;
  border-radius: var(--border-radius);
}

section h2 {
  font-size: unset;
  margin-bottom: .5em;
}

section > header {
  background-image: var(--rainbow-bg);
  margin: -.5em -.6em .5em;
  padding: .2em .6em .5em .6em;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--base-foreground-border);
}
section > header > h1 {
  font-size: 1.5em;
}
section > header > .back-to-main { color: var(--base-foreground-weak); }

section > article {
  background-color: var(--surface-background-dim);
  border: 1px dashed var(--base-foreground-border);
  border-radius: var(--border-radius);
  margin: .5em 0;
  padding: .5em;
}
section > article > time { color: var(--base-foreground-weak); }


table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  text-align: start;
}
table th {
  width: min-content;
  padding-right: 2ch;
  font-weight: normal;
  color: var(--base-foreground-weak);
}
table td {
  width: max-content;
}


ul { list-style-type: none; }
ul li::before { content: "Î»: "; color: var(--base-foreground-weak); }


@keyframes movebg-border {
  0% {background-position-x: 0, 0;}
  100% {background-position-x: 16px, 512px;}
}
hr { border:none; position:relative; overflow:visible; }
hr::after {
  content: '';
  height: 1px;
  display: block;
  background-image: repeating-linear-gradient(to right, transparent 0, transparent 8px, #000 8px, #000 16px), var(--rainbow);
  background-size: 512px 512px;
  animation: movebg-border 3s linear 0ms infinite forwards running;
}


.grid {
  display: grid;
  --columns: 2;
  --gap: 1em;
  grid-gap: var(--gap);
  grid-template-columns: repeat(var(--columns), calc((100% - var(--gap)) / var(--columns)));
}

@media only screen and (max-width:500px) {
  .grid { grid-template-columns: 100%; }
  main { margin-bottom: 32px; }
}


.add {
  display: block;
  margin: 32px auto;
  max-width: 728px;
  max-height: 90px;
  width: 100%;
  border: none;
  aspect-ratio: 728/90;
}
