*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;scrollbar-color: var(--base-foreground-weak) transparent;}
h2,h3,h4,em{color:var(--base-foreground-strong);font-weight:700;}
h1{font-size:2em;}
h2{font-size:1.2em;}
h3{font-size:1em;}
p{margin:1em 0;}
a:focus,[tabindex]:focus{outline:#fff 3px solid;}
@supports selector(:focus-visible){a:focus:not(:focus-visible),[tabindex]:focus:not(:focus-visible){outline:none;}}
a:focus-visible{outline:#fff 3px solid;}
.float-right{float:right;}
.pixelart{image-rendering:pixelated;}

a {
  color: var(--color-accent);
  font-weight: 700;
  text-shadow: .1em .05em #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline wavy #fff 1px;
}

a.no-deco,.webring a:not(:hover){text-decoration:none;}

:root {
  --color-accent: #f582ff;
  --base-background: #181818;
  --base-foreground: #eedbc0;
  --base-foreground-weak: #8d7d76;
  --base-foreground-strong: #fffcd5;
  --rainbow: repeating-linear-gradient(to right,
    #ff647e, #ffb374, #fdff6d, #4aff5f, #89caff, #ff7eff, #ff647e);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--base-background);
  background-image: url('assets/gif/bg.gif');
  color: var(--base-foreground);
	color-scheme: dark;
}
::selection {
  background-color: #ae7cff56;
  color: var(--color-accent);
}
body {
  width: 100%;
  max-width: 960px;
  margin: 64px auto 0 auto;
  padding: 24px;
}

section { margin: 2em 0; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1em 0;
}
table td, table th {
  text-align: center;
  padding: .2em 1ch;
}
table tr:nth-child(2n) td { background: #8d7d7633; }
table tr td { background: #8d7d7622; }
table tr { border: 1px solid var(--base-foreground-weak); }
table th { color: var(--base-foreground-weak); }
table.definitions { width: 100%; }
table.definitions td:nth-child(2) { text-align: start; }

dl {
  display: grid;
  grid-template-columns: 12ch auto;
  line-height: 2;
}
dl dt {
  margin-right: 1em;
  padding-right: 1em;
  color: var(--base-foreground-weak);
}

li { margin: .5em 0; }
li > ul, li > ol { margin-left: 18px; }
ul.links { list-style-type: none; }
ul.links li::before { content: "λ: "; color: var(--base-foreground-weak); }

.back-to-main { color: var(--base-foreground-weak); }

@keyframes movebg-border {
  0% {background-position-x: 0, 0;}
  100% {background-position-x: 16px, 512px;}
}
hr { border:none; position:relative; overflow:visible; }
hr::after,
header::after {
  content: '';
  height: 1px;
  display: block;
  background-image: repeating-linear-gradient(to right, transparent 0, transparent 8px, #000 8px, #000 16px), var(--rainbow);
  background-size: 512px 512px;
  animation: movebg-border 3s linear 0ms infinite forwards running;
}
header::after { margin-top: .5em; }

@keyframes movebg-h1 {
  0% {background-position-x: 0;}
  100% {background-position-x: 512px;}
}
h1 {
  font-weight: 900;
  font-size: 2.2em;
  color: transparent;
  filter: drop-shadow(.1em .05em #000000) drop-shadow(0 0 32px #6f00ff33);
  background-image: var(--rainbow);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 512px 512px;
  animation: movebg-h1 3s linear 0ms infinite forwards running;
  position: relative;
}
h1::after {
  content: attr(content);
  background-image: var(--rainbow);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 512px 512px;
  animation: movebg-h1 3s linear 0ms infinite forwards running;
  position: absolute;
  inset: 0;
  filter: blur(18px) opacity(60%);
}

header { position: relative; }
header > aside {
  float: right;
  rotate: 16deg;
  font-size: 1.5em;
  position: absolute;
  inset: 0 0 auto auto;
  color: var(--base-foreground-weak);
  font-style: italic;
  translate: 0 -1em;
}

.grid {
  display: grid;
  --columns: 2;
  --gap: 1em;
  grid-gap: var(--gap);
  grid-template-columns: repeat(var(--columns), calc((100% - var(--gap)) / var(--columns)));
}

@media only screen and (max-width:500px) {
  .grid { grid-template-columns: 100%; }
  main { margin-bottom: 32px; }
  header > aside { display: none; }
}

.add {
  display: block;
  margin: 32px auto;
  max-width: 728px;
  max-height: 90px;
  width: 100%;
  border: none;
  aspect-ratio: 728/90;
}