*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;scrollbar-color: var(--color-header) transparent;}
h1,h2,h3,h4,em{color:var(--base-foreground-strong);font-style:unset;font-weight:700;}
.hide{display:none;}
.float-right{float:right;}
.send-to-back{position:relative;z-index:-100;}
.push-up {margin-top:-32px;}
:root {
  --color-green: #67e6ca;
  --color-purple: #ae8dff;
  --color-yellow: #EAC77A;
  --color-header: var(--color-yellow);
  --color-accent: #66ffc6;
  --color-accent-bg: #66ddc133;
  --card-border-radius: 8px;
  --base-background: rgb(22, 14, 31);
  --base-foreground: #c2a9e4;
  --base-foreground-strong: #ffffff;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--base-background);
  color: var(--base-foreground);
}
::selection {
  background-color: var(--color-accent-bg);
  color: var(--color-accent);
}
body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 24px;
}
@keyframes scroll{from{transform:translateY(0px)}to{transform:translateY(3px)}}
body::after {
  content: "";
  position: fixed;
  width: 100%;
  height: calc(100% + 3px);
  top: -3px;
  left: 0;
  background: repeating-linear-gradient(0, #00f, #f00 1px, #0f0 2px, #00f 3px);
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
  mix-blend-mode: overlay;
  animation-name: scroll;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  will-change: transform;
  transform: translateY(0px);
}

h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1em;
}
h1::after {
  content: "";
  --border: .1em dotted currentColor;
  border-top: var(--border);
  border-bottom: var(--border);
  height: .1em;
  display: block;
  width: 100%;
  position: relative;
  z-index: -200;
}

h2, h3 {
  font-size: 1em;
  font-weight: 700;
}
h2::after {
  content: "";
  color: var(--base-foreground);
  display: block;
  height: .2em;
  border-top: .1em solid currentColor;
  border-bottom: .1em solid currentColor;
  margin-top: .3em;
  margin-bottom: .3em;
}

hr {
  color: unset;
  font-size: 2em;
  --border: .1em dotted currentColor;
  border: none;
  border-top: var(--border);
  position: relative;
  z-index: -100;
}
hr::before,
hr::after {
  content: "";
  border-bottom: var(--border);
  height: .1em;
  display: block;
  width: 100%;
}

a {
  color: var(--color-accent);
  text-decoration: underline var(--color-accent) 1px;
}
a:focus,
[tabindex]:focus {
  outline: 3px solid;
}
@supports selector(:focus-visible) {
  a:focus:not(:focus-visible),
  [tabindex]:focus:not(:focus-visible) {
    outline: none;
  }
}
a:focus-visible {
  outline: 3px solid;
}

aside {
  color: rgba(99,99,99,.8);
  font-size: .6em;
  display: inline;
  margin-left: 4em;
}

dl {
  display: grid;
  grid-template-columns: auto auto;
  line-height: 2;
  margin: -.8em 0;
}
dl dt {
  text-align: center;
  border-right: 1px solid currentColor;
  margin-right: 1em;
  padding-right: 1em;
}
dl dt:first-child,
dl dd:nth-child(2) {
  padding-top: .8em;
}
dl dt:nth-last-child(2),
dl dd:last-child {
  padding-bottom: .8em;
}

.phonetical {
  color: var(--base-foreground);
  opacity: 0.5;
}
.phonetical::before, .phonetical::after {
  content: '/';
  color: var(--base-foreground);
  font-size: 1.2em;
  position: relative;
  bottom: -.1em;
}


.badge-list a,
div.header a {
  text-decoration: none;
}


div.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}
div.header > nav,
div.header > a {
  padding: 5px 10px;
  background-color: var(--color-header);
}
div.header > a {
  max-width: 100%;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-family: monospace;
  text-transform: uppercase;
}
div.header > .spacer {
  flex-grow: 1;
  background: repeating-linear-gradient(90deg,var(--color-header),var(--color-header) 3px,transparent 0,transparent 10px);
  display: inline;
}
div.header > nav {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-family: monospace;
  color: #000;
}
div.header > nav > a {
  text-align: center;
  text-decoration: none;
  color: currentColor;
}

main > p {
  margin: 1em 0;
}

pre, div.box {
  padding: .8em;
  border: .1em solid currentColor;
  margin: .1em;
  border-radius: .3em;
}

div.box > ul {
  margin-left: 1em;
}


#me {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
}
#me .avatar {
  width: auto;
  height: 6em;
  margin-right: 1em;
  clip-path: polygon(0 0, 0 80%, 20% 100%, 100% 100%, 100% 20%, 80% 0);
}
#me header {
  font-size: 2em;
  line-height: 1;
  font-family: sans-serif;
}


.webring {
  text-align: center;
  font-family: monospace;
}
.webring a:not(:hover) {
  text-decoration: none;
}

.add-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 728px;
  max-height: 90px;
  width: 100%;
  border: none;
  aspect-ratio: 728/90;
}


.pixelart {
  image-rendering: pixelated;
}

.badge-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.badge-list a,
.badge-list > img {
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
  transition: scale .1s;
  z-index: 0;
}

.badge-list a:hover,
.badge-list > img:hover {
  scale: 2;
  z-index: 100;
}


.grid {
  display: grid;
  --columns: 2;
  --gap: 1em;
  grid-gap: var(--gap);
  grid-template-columns: repeat(var(--columns), calc((100% - var(--gap)) / var(--columns)));
}
.grid.c3 {
  --columns: 3;
}


@media only screen and (max-width:640px) {
  .grid {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width:480px) {
  div.header > .spacer {
    display: none;
  }
  div.header > a {
    width: 100%;
    text-align: center;
  }
  div.header > nav {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--color-header);
    background-color: var(--base-background);
    border-top: 1px solid currentColor;
    z-index: 100;
  }
  #me .avatar {
    margin-bottom: 1em;
  }
  main {
    margin-bottom: 32px;
  }
}
