*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;}
h1,h2,h3,h4{color:var(--base-foreground-strong);}
.absolute-center {
	position:fixed;
	display:flex;
  justify-content:center;
  width:100%;
  height:100%;
  align-items:center;
  flex-direction:column;}
:root {
  --color-header: #ae8dff;
  --color-accent: #66ffc6;
  --color-accent-bright: #66ffc6;
  --color-accent-bg: #66ddc133;
  --borders: rgba(255, 255, 255, 0.2);
  --borders-strong: rgba(255, 255, 255, 1);
  --card-border-radius: 8px;
  --base-background: #17101e;
  --base-foreground: #d1aeff;
  --base-foreground-strong: #ffffff;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--base-background);
  color: var(--base-foreground);
}

a {
  color: var(--color-accent);
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  color: var(--color-accent-bright);
}
main a {
  border: 1px solid transparent;
}
main a:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 0 .1em var(--color-accent);
}

em {
  color: var(--base-foreground-strong);
  font-style: unset;
  font-weight: 500;
}

::selection {
  background-color: var(--color-accent-bg);
  color: var(--color-accent-bright);
  text-shadow: none;
}


div.header {
  filter: blur(0.025rem);
}
main {
  filter: blur(0.025rem);
  text-shadow: 0 0 1px #0f0, -0.5px 0 0.5px #f00, 0.5px 0 0.5px #00f;
}
@keyframes scroll{from{transform:translateY(0px)}to{transform:translateY(6px)}}
body::before {
  background: repeating-linear-gradient(0deg, black, #f00 1px, #0f0 2px, #00f 3px);
  position: fixed;
  top: -6px;
  left: 0;
  width: 100%;
  height: calc(100% + 6px);
  content: "";
  pointer-events: none;
  mix-blend-mode: multiply;
  opacity: 0.3;
  z-index: 100;
  animation-name: scroll;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
  will-change: transform;
  transform: translateY(0px);
}

body {
  width: 100%;
  max-width: 800px;
  margin: 32px auto;
  padding: 0 1em;
}

span.invisible {
  display: none;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}


#me {
  margin-bottom: 1em;
  display: flex;
}
#me .avatar {
  width: auto;
  height: 11.5em;
  margin-right: 1em;
  border-radius: 0 60%;
}
#me h1 {
  font-weight: 700;
  margin-bottom: .2em;
  font-size: 2em;
  text-shadow: 0 1px rgba(0, 0, 0, 0.8), 0 2px 2em rgba(0, 0, 0, 0.2);
  line-height: 1;
}
#me > p {
  font-size: 1em;
  text-shadow: 0 1px rgba(0, 0, 0, 0.8), 0 2px 1em rgba(0, 0, 0, 0.2);
}
#me > .badges {
  margin-top: .5em;
}


div.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}
div.header a {
  max-width: 100%;
  text-decoration: none;
  background: var(--color-header);
  color: #000;
  padding: 5px 10px;
}
div.header::after {
  content: "";
  background: repeating-linear-gradient(90deg,var(--color-header),var(--color-header) 3px,transparent 0,transparent 10px);
  display: inline;
  flex-grow: 2;
}


main > h1 {
  font-size: 2em;
  margin-bottom: 1em;
  --border: .1em dotted currentColor;
  border-bottom: var(--border);
}
main > h1::after {
  content: "";
  border-top: var(--border);
  height: .1em;
  display: block;
  width: 100%;
}

main > hr {
  color: unset;
  font-size: 2em;
  --border: .1em dotted currentColor;
  border: none;
  border-top: var(--border);
}
main > hr::before,
main > hr::after {
  content: "";
  border-bottom: var(--border);
  height: .1em;
  display: block;
  width: 100%;
}

main > p {
  margin: 1em 0;
}

div.box {
  padding: 1.5em;
  border: .1em solid currentColor;
  margin: .4em;
  border-radius: .3em;
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 3em;
}
.grid > .project > h1 {
  font-size: 1.5em;
  font-weight: 700;
}


@media only screen and (max-width:720px) {
  .grid {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width:480px) {
  #me {
    flex-wrap: wrap;
  }
  #me .avatar {
    width: 96px;
    height: 96px;
    margin: 0;
    margin-bottom: 1em;
  }

  .button-list {
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(2, calc(50% - .5em/2));
  }
  .button-list a {
    padding: .1em .5em;
    box-shadow: 0 0 0 2px currentColor;
  }
}
