*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;scrollbar-color: var(--color-header-bg) transparent;}
h1,h2,h3,h4,em{color:var(--base-foreground-strong);font-style:unset;font-weight:700;}
p{margin:1em 0;}
a{color:var(--color-accent);text-decoration:underline currentColor 1px;}
a:focus,[tabindex]:focus{outline:3px solid;}
@supports selector(:focus-visible){a:focus:not(:focus-visible),[tabindex]:focus:not(:focus-visible){outline:none;}}
a:focus-visible{outline:3px solid;}
.hide{display:none;}
.float-right{float:right;}
.send-to-back{position:relative;z-index:-100;}
.push-up{margin-top:-32px;}
.pixelart{image-rendering:pixelated;}

:root {
  --color-header-fg: #e299ff;
  --color-header-bg: #ae7cff26;
  --color-accent: #e299ff;
  --card-border-radius: 8px;
  --base-background: #070e1a;
  --base-foreground: #a4ebc3;
  --base-foreground-strong: #fffcd5;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--base-background);
  color: var(--base-foreground);
}
::selection {
  background-color: #ae7cff56;
  color: var(--color-accent);
}
body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 24px;
}

h1{font-size:2em;margin-bottom:.5em;}
h1::after {
  content: "";
  --border: .1em dotted currentColor;
  border-top: var(--border);
  border-bottom: var(--border);
  height: .1em;
  display: block;
  width: 100%;
  position: relative;
  z-index: -200;
}

h2,h3{font-size:1em;}
h2::after {
  content: "";
  color: var(--base-foreground);
  display: block;
  height: .2em;
  border-top: .1em solid currentColor;
  border-bottom: .1em solid currentColor;
  margin-top: .3em;
  margin-bottom: .3em;
  position: relative;
  z-index: -200;
}

hr {
  color: unset;
  font-size: 2em;
  --border: .1em dotted currentColor;
  border: none;
  border-top: var(--border);
  position: relative;
  z-index: -100;
}
hr::before,
hr::after {
  content: "";
  border-bottom: var(--border);
  height: .1em;
  display: block;
  width: 100%;
}

dl {
  display: grid;
  grid-template-columns: auto auto;
  line-height: 2;
  margin: -.8em 0;
}
dl dt {
  text-align: center;
  border-right: 1px solid currentColor;
  margin-right: 1em;
  padding-right: 1em;
}
dl dt:first-child,
dl dd:nth-child(2) {
  padding-top: .8em;
}
dl dt:nth-last-child(2),
dl dd:last-child {
  padding-bottom: .8em;
}

a.no-deco,.webring a:not(:hover),div.header>a:not(:hover),div.header>nav>a:not(:hover){text-decoration:none;}

.phonetical {
  color: var(--base-foreground);
  opacity: 0.5;
}

.webring {
  text-align: center;
  font-family: monospace;
}

div.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}
div.header > nav,
div.header > a {
  padding: 5px 10px;
  color: var(--color-header-fg);
  background-color: var(--color-header-bg);
  font-family: monospace;
}
div.header > a {
  max-width: 100%;
  font-weight: 700;
  text-transform: uppercase;
}
div.header > .spacer {
  flex-grow: 1;
  background: repeating-linear-gradient(90deg,var(--color-header-bg),var(--color-header-bg) 3px,transparent 0,transparent 10px);
  display: inline;
}
div.header > nav {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
div.header > nav > a {
  text-align: center;
  color: currentColor;
}

pre, div.box {
  padding: .8em;
  border: .1em solid currentColor;
  margin: .1em;
  border-radius: .3em;
}
div.box p {
  margin: .5em 0;
}
div.box > ul {
  margin-left: 1em;
}

#me {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
}
#me > div {
  flex-grow: 2;
}
#me p {
  margin: 0;
}
#me .avatar {
  width: auto;
  height: 7em;
  margin-right: 1em;
  clip-path: polygon(0 0, 0 80%, 20% 100%, 100% 100%, 100% 20%, 80% 0);
}
#me header {
  font-size: 2em;
  font-family: sans-serif;
}
#me .uid {
  text-decoration: none;
}

.grid {
  display: grid;
  --columns: 2;
  --gap: 1em;
  grid-gap: var(--gap);
  grid-template-columns: repeat(var(--columns), calc((100% - var(--gap)) / var(--columns)));
}

@media only screen and (max-width:500px) {
  .grid { grid-template-columns: 100%; }
  div.header > .spacer { display: none; }
  div.header > a {
    width: 100%;
    text-align: center;
  }
  div.header > nav {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  #me .avatar {
    margin-bottom: 1em;
  }
  main {
    margin-bottom: 32px;
  }
}
