*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;scrollbar-color: var(--base-foreground-weak) transparent;}
h1,h2,h3,h4,em{color:var(--base-foreground-strong);font-style:unset;font-weight:700;}
h1{font-size:2em;font-family:sans-serif;}
h2{font-size:1.2em;font-family:sans-serif;}
p{margin:1em 0;}
a{color:var(--color-accent);text-decoration:underline currentColor 1px;}
a:focus,[tabindex]:focus{outline:3px solid;}
@supports selector(:focus-visible){a:focus:not(:focus-visible),[tabindex]:focus:not(:focus-visible){outline:none;}}
a:focus-visible{outline:3px solid;}
.hide{display:none;}
.float-right{float:right;}
.pixelart{image-rendering:pixelated;}

:root {
  --color-accent: #e299ff;
  --card-border-radius: 8px;
  --base-background: #181818;
  --base-foreground: #eedbc0;
  --base-foreground-weak: #8d7d76;
  --base-foreground-strong: #fffcd5;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--base-background);
  background-image: url('assets/gif/bg.gif');
  color: var(--base-foreground);
}
::selection {
  background-color: #ae7cff56;
  color: var(--color-accent);
}
body {
  width: 100%;
  max-width: 960px;
  margin: 64px auto 0 auto;
  padding: 24px;
}

section {
  margin: 2em 0;
}

hr {
  color: var(--base-foreground-weak);
  border: none;
}
hr::after {
  content: "";
  display: block;
  width: 100%;
  height: .2em;
  border-top: .2em dotted currentColor;
  border-bottom: .2em dotted currentColor;
}

dl {
  display: grid;
  grid-template-columns: 12ch auto;
  line-height: 2;
}
dl dt {
  margin-right: 1em;
  padding-right: 1em;
  color: var(--base-foreground-weak);
}

a.no-deco,.webring a:not(:hover){text-decoration:none;}

.phonetical {
  color: var(--base-foreground);
  opacity: 0.5;
  font-family: sans-serif;
}

.webring {
  display: flex;
  flex-direction: row;
}
.webring .center {
  flex-grow: 1;
  text-align: center;
}
.webring .hub {
  font-weight: 700;
  color: var(--base-foreground);
  text-decoration: underline solid var(--color-accent) 2px !important;
}
.webring .extra {
  color: var(--base-foreground-weak);
  font-size: 0.6em;
}

ul { line-height: 2; }
ul.links { list-style-type: none; }
ul.links a { text-decoration: none; }
ul.links a::before { content: "=> "; }
ul.links a:hover { text-decoration: underline solid currentColor 1px; }

.back-to-main { color: var(--base-foreground-weak); }

header.me {
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
}
header.me > div { flex-grow: 2; }
header.me p { margin: 0; }
header.me .avatar {
  width: auto;
  height: 5em;
  margin-right: 1em;
  clip-path: polygon(0 0, 0 80%, 20% 100%, 100% 100%, 100% 20%, 80% 0);
}
header.me h1 { font-weight: normal; }
header.me .uid { text-decoration: none; }

.grid {
  display: grid;
  --columns: 2;
  --gap: 1em;
  grid-gap: var(--gap);
  grid-template-columns: repeat(var(--columns), calc((100% - var(--gap)) / var(--columns)));
}

@media only screen and (max-width:500px) {
  .grid { grid-template-columns: 100%; }
  #me .avatar {
    margin-bottom: 1em;
  }
  main {
    margin-bottom: 32px;
  }
}

.add {
  display: block;
  margin: 32px auto;
  max-width: 728px;
  max-height: 90px;
  width: 100%;
  border: none;
  aspect-ratio: 728/90;
}