*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;}
h1,h2,h3,h4{color:var(--base-foreground-strong);}
.absolute-center {
	position:fixed;
	display:flex;
  justify-content:center;
  width:100%;
  height:100%;
  align-items:center;
  flex-direction:column;}
:root {
  --color-header: #ae8dff;
  --color-accent: #66ffc6;
  --color-accent-bg: #66ddc133;
  --borders: rgba(255, 255, 255, 0.2);
  --borders-strong: rgba(255, 255, 255, 1);
  --card-border-radius: 8px;
  --base-background: #17101e;
  --base-foreground: #d1aeff;
  --base-foreground-strong: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--base-background);
  color: var(--base-foreground);
}

h1 {
  font-size: 2em;
  font-weight: 700;
  --border: .1em dotted currentColor;
  border-bottom: var(--border);
}
h1::after {
  content: "";
  border-top: var(--border);
  height: .1em;
  display: block;
  width: 100%;
}

h3 {
  font-size: 1em;
  font-weight: 700;
}
h3::after {
  content: "";
  color: var(--base-foreground);
  display: block;
  height: .2em;
  border-top: .1em solid currentColor;
  border-bottom: .1em solid currentColor;
  margin-top: .3em;
  margin-bottom: .3em;
}

a {
  color: var(--color-accent);
  text-decoration: underline wavy currentColor 1px;
}

em {
  color: var(--base-foreground-strong);
  font-style: unset;
  font-weight: 700;
}

small {
  color: rgba(99,99,99,.8);
  font-size: .6em;
}

::selection {
  background-color: var(--color-accent-bg);
  color: var(--color-accent);
  text-shadow: none;
}


.badge-list a,
div.header a {
  text-decoration: none;
}
main {
  text-shadow: 0 0 1px #0f0, -0.5px 0 0.5px #f00, 0.5px 0 0.5px #00f;
}
@keyframes scroll{from{transform:translateY(0px)}to{transform:translateY(6px)}}
body::before {
  background: repeating-linear-gradient(0deg, black, #f00 1px, #0f0 2px, #00f 3px);
  position: fixed;
  top: -6px;
  left: 0;
  width: 100%;
  height: calc(100% + 6px);
  content: "";
  pointer-events: none;
  mix-blend-mode: multiply;
  opacity: 0.3;
  z-index: 100;
  animation-name: scroll;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
  will-change: transform;
  transform: translateY(0px);
}

body {
  width: 100%;
  max-width: 804px;
  margin: 32px auto;
  padding: 0 2em;
}

span.invisible {
  display: none;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}
.button-list a {
  text-decoration: none;
}
.button-list a:hover {
  text-decoration: underline wavy currentColor 1px;
}


#me {
  margin-bottom: 1em;
  display: flex;
}
#me .avatar {
  width: auto;
  height: 6em;
  margin-right: 1em;
}
#me header {
  font-weight: 700;
  margin-bottom: .5em;
  font-size: 2em;
  line-height: 1;
  color: var(--base-foreground-strong);
}


div.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}
div.header a {
  max-width: 100%;
  text-decoration: none;
  background: var(--color-header);
  color: #000;
  padding: 5px 10px;
}
div.header::after {
  content: "";
  background: repeating-linear-gradient(90deg,var(--color-header),var(--color-header) 3px,transparent 0,transparent 10px);
  display: inline;
  flex-grow: 2;
}


.badge-list img {
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
}


main > h1 {
  margin-bottom: 1em;
}

main > hr {
  color: unset;
  font-size: 2em;
  --border: .1em dotted currentColor;
  border: none;
  border-top: var(--border);
}
main > hr::before,
main > hr::after {
  content: "";
  border-bottom: var(--border);
  height: .1em;
  display: block;
  width: 100%;
}

main > p {
  margin: 1em 0;
}

div.box {
  padding: .8em;
  border: .1em solid currentColor;
  margin: .1em;
  border-radius: .3em;
}


.grid {
  display: grid;
  --gap: 3em;
  grid-gap: var(--gap);
  grid-template-columns: repeat(2, calc(50% - var(--gap)/2));
}


@media only screen and (max-width:640px) {
  .grid {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width:480px) {
  .button-list {
    display: grid;
    --gap: .2em;
    gap: var(--gap);
    grid-template-columns: repeat(2, calc(50% - var(--gap)/2));
  }
  .button-list a {
    padding: .1em .4em;
    border: .2em solid currentColor;
  }
  .button-list a:hover {
    text-decoration: none;
  }
}
