*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;scrollbar-color: var(--foreground-weak) transparent;}
h1,h2,h3,h4,em{font-weight:700;}
h1{font-size:1.5em;}
h2,h3{font-size:1em;}
p{margin:1em 0;}
a:focus,[tabindex]:focus{outline:#fff 3px solid;}
@supports selector(:focus-visible){a:focus:not(:focus-visible),[tabindex]:focus:not(:focus-visible){outline:none;}}
a:focus-visible{outline:#fff 3px solid;}
.float-right{float:right;}
.pixelart{image-rendering:pixelated;}

a {
  color: unset;
  font-weight: 700;
  text-decoration: none;
}
a:hover:not(.no-deco) { text-decoration: underline wavy #fff 1px; }

:root {
  font-family: Inter, 'Noto Sans', system-ui, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
	color-scheme: dark;
  --foreground: #ffffff;
  --foreground-weak: #ffffff93;
  --border-radius: 24px;
  background-color: #000;
  background-image: url('assets/textures/starry.png');
  color: var(--foreground);
}
::selection {
  background-color: #fff;
  color: #000;
}
body {
  width: 100%;
  max-width: 640px;
  margin: 64px auto 0 auto;
  background-color: #000;
  border-radius: var(--border-radius);
  border: 1px solid #ddd;
}

header {
  padding: 2em;
  border-bottom: 1px solid #ddd;
}
header > h1 { line-height: 1.2; }
header > a.back-to-main {
  color: var(--foreground-weak);
  font-weight: unset;
}
header > a.back-to-main::before { content: "⥼ "; }
header > a.back-to-main:hover {
  color: var(--foreground)
}
header > p {
  margin-bottom: 0;
}

section + section {
  border-top: 1px solid #ddd;
}

section {
  position: relative;
  padding: 2em;
}
section > h2 {
  margin-bottom: .5em;
}

ul {
  list-style-type: none;
  line-height: 1.8;
}
ul li::before { content: "•"; margin-right: .5em; font-weight: bold; color: var(--foreground-weak); }

.grid {
  display: grid;
  --columns: 2;
  gap: 1em;
  grid-template-columns: repeat(var(--columns), calc((100% - 1em * (var(--columns) - 1)) / var(--columns)));
}

@media only screen and (max-width:720px) {
  .grid, section .grid { display: flex; flex-direction: column; gap: 0; }
  :not(section) > .grid > :not(:first-child) { margin-top: -1em; }
  main { margin-bottom: 32px; }
}

.add {
  display: block;
  margin: 16px auto;
  max-width: 728px;
  max-height: 90px;
  width: 100%;
  border: none;
  aspect-ratio: 728/90;
}
