*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;scrollbar-color: var(--foreground-weak) transparent;}
h1,h2,h3,h4,em{color:var(--foreground-strong);font-weight:700;}
h1{font-size:2em;}
h2{font-size:1.2em;}
h3{font-size:1em;}
p{margin:1em 0;}
a:focus,[tabindex]:focus{outline:#fff 3px solid;}
@supports selector(:focus-visible){a:focus:not(:focus-visible),[tabindex]:focus:not(:focus-visible){outline:none;}}
a:focus-visible{outline:#fff 3px solid;}
.float-right{float:right;}
.pixelart{image-rendering:pixelated;}

a {
  color: var(--color-accent);
  font-weight: 700;
  text-shadow: .1em .05em #000000;
  text-decoration: none;
}
a:hover:not(.no-deco) { text-decoration: underline wavy #fff 1px; }

:root {
  --color-accent: #1cd7e4;
  --foreground: #e4ffdef0;
  --foreground-weak: #bca4bcac;
  --foreground-border: #a062ac52;
  --foreground-strong: #eeffff;
  --surface-background: #231a49ef;
  --surface-background-dim: #150d3fd4;
  --rainbow: repeating-linear-gradient(to right,
    #ff647e, #ffb374, #fdff6d, #4aff5f, #89caff, #ff7eff, #ff647e);
  --rainbow-bg: repeating-linear-gradient(to right,
    #ff647e22, #ffb37422, #fdff6d22, #4aff5f22, #89caff22, #ff7eff22, #ff647e22);
  --border-radius: 3px;
  --card-shadow: inset 0 0 0 1px var(--foreground-border), inset 0 1px #fff3, inset 0 -1px #fff1, 0 0 0 1px #0006;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  background-color: #171819;
  background-image: url('assets/textures/abstrpurpl.png');
  color: var(--foreground);
	color-scheme: dark;
}
::selection {
  background-color: #ae7cff56;
}
body {
  width: 100%;
  max-width: 960px;
  margin: 64px auto 0 auto;
  padding: 24px;
}


section {
  background-color: var(--surface-background);
  margin: 1em 0;
  padding: .5em .8em;
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  position: relative;
}

section h2 {
  font-size: unset;
  margin-bottom: .5em;
}

@keyframes movebg-header {
  0% {background-position-x: 0;}
  100% {background-position-x: 1024px;}
}
section > header {
  background-image: var(--rainbow-bg);
  background-size: 1024px 1024px;
  animation: movebg-header 4s linear 0ms infinite forwards running;
  margin: -.5em -.8em .5em;
  padding: .2em .8em .5em;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #0006;
  box-shadow: 0 1px var(--foreground-border);
}
section > header > h1 {
  font-size: 1.2em;
  margin: .2em 0;
}
section > header > .back-to-main {
  color: var(--foreground-weak);
}
section > header > .back-to-main::before {
  content: "main page: ";
}
section hr {
  border: none;
  border-top: 1px solid #0006;
  border-bottom: 1px solid var(--foreground-border);
  margin: .3em -.8em;
}

section article {
  background-color: var(--surface-background-dim);
  border: 1px dashed var(--foreground-border);
  border-radius: var(--border-radius);
  margin: .5em 0;
  padding: .5em;
  display: flow-root;
}
section article > time { color: var(--foreground-weak); }
section article > img {
  max-width: 64px;
  max-height: 64px;
  float: inline-end;
}
section > img.framed,
section article > img {
  border-radius: var(--border-radius);
  padding: 1px;
  box-shadow: var(--card-shadow);
}


button {
  background-color: #fff1;
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
  border: none;
  padding: .5em .6em;
}
button:hover { background-color: #fff2; }
button:active { background-color: transparent; box-shadow: inset 0 0 0 1px #0002, inset 0 1px #0006, inset 0 -1px #0001, 0 0 0 1px #fff1; }


.chip {
  background-color: #fff2;
  box-shadow: inset 0 0 0 1px #fff1, 0 1px #0004;
  text-shadow: 0 1px #0006;
  color: #fffb;
  padding: .3em .6em;
  font-weight: bold;
  border-radius: 99px;
  font-size: .8em;
  line-height: 1;
}


table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  text-align: start;
}
table th {
  width: min-content;
  padding-right: 2ch;
  font-weight: normal;
  color: var(--foreground-weak);
}
table td {
  width: max-content;
}


ul {
  list-style-type: none;
  line-height: 1.8;
}
ul li::before { content: "Î»: "; color: var(--foreground-weak); }


@keyframes movebg-border {
  0% {background-position-x: 0, 0;}
  100% {background-position-x: 16px, 512px;}
}
hr.rainbow { border:none; position:relative; overflow:visible; margin: .5em 0; }
hr.rainbow::after {
  content: '';
  height: 1px;
  display: block;
  background-image: repeating-linear-gradient(to right, transparent 0, transparent 8px, #000 8px, #000 16px), var(--rainbow);
  background-size: 512px 512px;
  animation: movebg-border 3s linear 0ms infinite forwards running;
}


.grid {
  display: grid;
  --columns: 2;
  gap: 1em;
  grid-template-columns: repeat(var(--columns), calc((100% - 1em * (var(--columns) - 1)) / var(--columns)));
}
section .grid {
  display: grid;
  --columns: 2;
  gap: .5em;
  grid-template-columns: repeat(var(--columns), calc((100% - .5em * (var(--columns) - 1)) / var(--columns)));
}
section .grid article {
  margin-bottom: 0;
  margin-top: 0;
}

@media only screen and (max-width:720px) {
  .grid, section .grid { display: flex; flex-direction: column; gap: 0; }
  :not(section) > .grid > :not(:first-child) { margin-top: -1em; }
  main { margin-bottom: 32px; }
}


.add {
  display: block;
  margin: 16px auto;
  max-width: 728px;
  max-height: 90px;
  width: 100%;
  border: none;
  aspect-ratio: 728/90;
  border-radius: var(--border-radius);
}
