code {
  display: inline-block;
  padding: 0 .1em;
}

pre .comment,
code .comment,
code.comment {
  opacity: 0.5;
}

pre .literal,
code .literal,
code.literal {
  color: var(--color-green);
}

pre .kw,
code .kw,
code.kw {
  color: var(--base-foreground-strong);
  font-weight: 700;
}

pre .type,
code .type,
code.type {
  color: var(--color-blue);
}

pre .fn,
code .fn,
code.fn {
  color: var(--color-yellow);
}

a.gemini {
  text-decoration: none;
}
a.gemini::before {
  content: "=>";
  font-family: monospace;
  margin-right: .5em;
}