code {
  display: inline-block;
  padding: 0 .1em;
  color: #b1a799;
}

pre {
  padding: .6em;
  border: 1px solid var(--base-foreground-weak);
  color: #b1ad99;
  line-height: 1.6;
}

pre .comment,
code .comment,
code.comment {
  opacity: 0.5;
}

pre .literal,
code .literal,
code.literal {
  color: #adf870;
}

pre .kw,
code .kw,
code.kw {
  color: #fffd6d;
  font-weight: 700;
  font-style: italic;
}

pre .type,
code .type,
code.type {
  color: #3fbabe;
  font-style: italic;
}

pre .fn,
code .fn,
code.fn {
  color: #ce3e6e;
}

pre .class,
code .class,
code.class {
  color: #ab6af5;
}