code {
  display: inline-block;
  padding: 0 .1em;
}

pre .comment,
code .comment,
code.comment {
  opacity: 0.5;
}

pre .literal,
code .literal,
code.literal {
  color: #70d2f8;
}

pre .kw,
code .kw,
code.kw {
  color: #e5f9cb;
  font-weight: 700;
}

pre .type,
code .type,
code.type {
  color: #8d8a35;
}

pre .fn,
code .fn,
code.fn {
  color: #33db65;
}

a.gemini {
  text-decoration: none;
}
a.gemini::before {
  content: "=>";
  font-family: monospace;
  margin-right: .5em;
}