.button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding-top: .5em;
}
.button-list a {
  text-decoration: none;
}
.button-list a:hover {
  text-decoration: underline wavy currentColor 1px;
}