
div.type {
    display: inline-block;
}
div.color {
    width: 2.5ex;
    height: 1.5ex;
    display: inline-block;
    border-radius: 99px;
}
div.type:not(:first-child),
div.color:not(:first-child) {
    margin-left: 1ch;
}

table tr > td:first-child:not(:last-child) {
    width: min-content;
    padding-right: 2ch;
    font-weight: bold;
}

table tr > td + td {
    width: 100%;
}