

:root {
    font-family: Inter, 'Noto Sans', system-ui, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
      color-scheme: dark;
    --f-hint: #fff8;
    --f-strong: #ffffff;
    --f-border: #fff5;
    --surface-background: #000;
    --surface-background-dim: #000;
    --border-radius: 24px;
    background-color: #000;
    background-image: url('../../assets/bg/starry.png');
    color: #fff;
}
::selection {
  background-color: #fff;
  color: #000;
}

body {
    width: 100%;
    margin: 64px auto 0 auto;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

section {
    background-color: var(--surface-background);
    border-radius: var(--border-radius);
    border: 1px solid #fff;
    padding: 2em;
    max-width: 512px;
    margin: 1em auto;
}

header {
    padding: 1em 2em;
    margin: -2em -2em 2em;
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: row;
}

hr {
  border: none;
  border-top: 1px dashed #fff;
}

header > h2 {
    flex-grow: 1;
    padding: 0 .2em;
    font-size: 1.2em;
    margin: 0;
}

p {
  margin: 1em 0 .5em;
}

table,
table tr,
table tr td {
    overflow: visible;
}

div.type {
    display: inline-block;
}
div.color {
    width: 2.5ex;
    height: 1.5ex;
    display: inline-block;
    border-radius: 1px;
    background: currentColor;
    box-shadow: 0 0 0 2px currentColor;
    overflow: visible;
}
div.color + div.type,
div.color:not(:first-child) {
    margin-left: 1ch;
}
div.type + div.type::before {
    content: ", ";
}

table tr > td:first-child:not(:last-child) {
    width: min-content;
    padding-right: 2ch;
    font-weight: bold;
}

table tr > td + td {
    width: 100%;
}

button {
    background-color: #ddd;
    color: #000;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    font-size: 1em;
    padding: .5em 1em;
}
button:hover, button:active { background-color: #fff; }

input[type=text] {
    background-color: var(--surface-background-dim);
    border: 1px solid #fff;
    border-radius: 0;
    padding: .5em;
    margin: .5em;
}

.add {
    display: block;
    margin: 16px auto;
    max-width: 728px;
    max-height: 90px;
    width: 100%;
    border: none;
    aspect-ratio: 728/90;
}
  