:root {
    --color-accent: #a0ecff;
    --base-background: #171717;
    --base-foreground: #f2f2f2f0;
    --base-foreground-weak: #a7a7a7b9;
    --base-foreground-border: #88888852;
    --base-foreground-strong: #ffffff;
    --surface-background: #292929ef;
    --surface-background-dim: #191919d4;
    background-image: url(../../assets/paper0.png);
}

table,
table tr,
table tr td {
    overflow: visible;
}

div.type {
    display: inline-block;
}
div.color {
    width: 2.5ex;
    height: 1.5ex;
    display: inline-block;
    border-radius: 1px;
    background: currentColor;
    box-shadow: 0 0 0 3px currentColor;
    overflow: visible;
}
div.type:not(:first-child),
div.color:not(:first-child) {
    margin-left: 1ch;
}

table tr > td:first-child:not(:last-child) {
    width: min-content;
    padding-right: 2ch;
    font-weight: bold;
}

table tr > td + td {
    width: 100%;
}