
h1,h2,h3,h4{font-weight:unset;overflow: hidden;}
h1{font-size:1.8em;font-weight:700;}
h2{font-size:1.4em;}
p { margin:1em 0; }

:root {
    background-image: url(./sunset-bg.jpg);
    background-position: 380px 0;
    background-size: calc(100vw - 380px) auto;
    background-attachment: fixed;
}
body {
    font-family: Tinos, Times, serif;
    line-height: 1.6;
    background-color: #24201e;
    color: #f8dcd1;
    padding: 3em;
    position: absolute;
    width: 380px;
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
}
::selection {
    background-color: #96ff7c56;
}

h1, h2, h3 {
    border-bottom: 1px solid #f5c6b323;
    margin-bottom: .2em;
    padding: 0;
}

li > a {
    font-weight: 700;
    color: unset;
    text-shadow: 0 0 10px #0003;
    text-decoration: none;
}
li > a:hover {
    text-decoration: underline wavy 1px currentColor;
}