*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;scrollbar-color: var(--fg-weak) transparent;}

a:focus,[tabindex]:focus{outline:#fff 3px solid;}
@supports selector(:focus-visible){a:focus:not(:focus-visible),[tabindex]:focus:not(:focus-visible){outline:none;}}
a:focus-visible{outline:#fff 3px solid;}
.float-right{float:right;}
.pixelart{image-rendering:pixelated;}

a {
  color: unset;
  text-decoration: underline wavy currentColor 1px;
}

:root {
  font-family: 'JetBrains Mono', ui-monospace,
    "Cascadia Mono", "Segoe UI Mono", 
    "Roboto Mono", 
    "Oxygen Mono", 
    "Ubuntu Monospace", 
    "Source Code Pro",
    "Fira Mono", 
    "Droid Sans Mono", 
    "Courier New", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
	color-scheme: dark;
  --fg-weak: #ffffff93;
  --fg-border: #ffffff23;
  --bg: #111;
  background: var(--bg);
  color: #ffffff;
}

@media(prefers-color-scheme:light) {
  :root {
    color-scheme: light;
    --bg: #c0c0c0;
    --fg-border: #afafaf;
    --fg-weak: #5f5f5f;
    background-image: none;
    color: #000;
  }
  ::selection {
    background: #000;
    color: #fff;
  }
}

body {
  width: 100%;
  max-width: 1280px;
  margin: 64px auto;
  padding: 4em;
}

h1 {
  line-height: 1.2;
  font-family: Tinos, Times, serif;
  font-size: 3em;
  font-weight: 900;
  color: var(--fg-weak);
}
h1 > span {
  font-weight: normal;
  opacity: 0.5;
}
a.back:not(:hover) { color: var(--fg-weak); text-decoration: unset; }
a.back::before { content: "⥼ "; }
h2 {
  font-size: unset;
  margin-bottom: .5em;
  color: var(--fg-weak);
  font-weight: 900;
}
section, header {
  max-width: 640px;
  margin: 0 auto;
}
.image-grid + section::before, section::after, header::after {
  content: "";
  border-top: 1px solid var(--fg-border);
  width: 48px;
  display: block;
  margin: 1em 0;
}

img { border-radius: 5px; }

a.img { text-decoration: none; }


.grid {
  display: grid;
  --columns: 2;
  gap: 4em;
  grid-template-columns: repeat(var(--columns), calc((100% - 1em * (var(--columns) - 1)) / var(--columns)));
}

@media(max-width:720px) {
  .grid { display: flex; flex-direction: column; gap: 0; }
  .grid > :not(:first-child) { margin-top: -1em; }
  main { margin-bottom: 32px; }
}

.hidden { display: none; }

.image-grid {
  display: grid;
  gap: 10em;
  grid-template-columns: repeat(2, auto);
  image-rendering: auto;
  margin: 5em 0;
}
@media(max-width:720px) {
  body { padding: 2em; }
  .image-grid { display: flex; flex-direction: column; gap: 4em; }
}

.image-grid a {
  aspect-ratio: 1;
  place-content: center;
  display: flex;
  position: relative;
}

.image-grid a img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.image-grid a[caption] {
  z-index: 99;
}

.image-grid a[caption]:hover::after {
  content: attr(caption);
  position: absolute;
  inset: auto 0 0 0;
  background: var(--bg);
  padding: .5em .6em;
}