:root {
  --color-accent: #a0ecff;
  --foreground: #f2f2f2f0;
  --foreground-weak: #a7a7a7b9;
  --foreground-border: #88888852;
  --foreground-strong: #ffffff;
  --surface-background: #292929ef;
  --surface-background-dim: #191919d4;
  background-color: #171717;
  background-blend-mode: luminosity;
}

.image-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, auto);
  image-rendering: auto;
}
@media only screen and (max-width:720px) {
  .image-grid { grid-template-columns: repeat(2, auto); }
}

.image-grid article {
  aspect-ratio: 1;
  place-content: center;
  display: flex;
  position: relative;
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
}

.image-grid article img {
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: -99;
  object-fit: contain;
  border-radius: var(--border-radius);
}

.image-grid article[caption]:hover::after {
  content: attr(caption);
  position: absolute;
  inset: auto 0 0 0;
  background-color: var(--surface-background);
  padding: .5em .6em;
  border-top: 1px solid var(--foreground-border);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  z-index: -99;
}