body { margin: 0; }
form {
    display: flex;
    align-items: center;
    position: fixed;
    inset: auto auto 0 auto;
    background-color: #0009;
    background-clip: content-box;
    border-top: 1px solid rgba(150, 150, 150, 0.2);
    border-right: 1px solid rgba(150, 150, 150, 0.2);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 4px;
}

label {
    font-family: monospace;
    padding: .6em 1em;
}

input[type=color] {
    padding: 4px;
    border: none;
    height: 2.2em;
    width: 3em;
    background-color: transparent;
}

form:hover {
    border-color: #fff;
}