#info-box img, figure img {
  width: 100%;
  min-height: 96px;
  display: block;
  border: 1px solid var(--fg-border);
}
#info-box, figure {
  max-width: 280px;
  float: right;
  clear: right;
  margin: 0 0 0 1em;
  border: 1px solid var(--fg-subtler);
}
figure + figure { margin-top: 0; }
figure { padding: 5px; }
figure > figcaption { padding: 0 1px; }
#info-box figure {
  float: none;
  clear: none;
  border: none;
  margin: 0;
  padding: 0;
}


span.fract {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
span.fract > sup, span.fract > sub {
  display: block;
  font: inherit;
  line-height: 1.1;
}
span.fract > sup::after {
  content: "";
  border-bottom: 1px solid;
  display: block;
}
span.fract > span {display: none;}


@media(max-width:500px) {
  #info-box, figure { float: none; margin-left: 0; }
  #info-box img, figure img { max-width: none; }
}