*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;scrollbar-color: #c8bac88f transparent;}
a:focus,[tabindex]:focus{outline:#fff 3px solid;}
@supports selector(:focus-visible){a:focus:not(:focus-visible),[tabindex]:focus:not(:focus-visible){outline:none;}}
a:focus-visible{outline:#fff 3px solid;}
.float-right{float:right;}

a {
  color: #3dc6cf;
  text-decoration: none;
}
a:hover:not(.no-deco) { text-decoration: underline wavy #fff 1px; }

:root {
  color: #ffffffdd;
  --border: #ffffff48;
  --accent: #77a97082;
  --border-radius: 3px;
  --serif: Tinos, Times, serif;
  font-family: Inter, 'Noto Sans', system-ui, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #181719;
	color-scheme: dark;
}
::selection {
  background-color: var(--accent);
}

#page-container {
  width: 100%;
  max-width: 1420px;
  display: flex;
  flex-direction: row;
  margin: 1em auto;
  padding: 1.2em 3em;
}

#sidebar {
  flex-basis: 18em;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 3em;
  display: inline;
  position: relative;
}

#sidebar > header {
  padding: 2em 0 .5em;
  text-align: center;
}
#sidebar > header > a {
  color: unset;
  background-clip: text;
  font-size: 1.5em;
  font-family: var(--serif);
  font-weight: 700;
  text-decoration: underline wavy var(--accent) 1px;
}
#sidebar > nav {
  padding-top: .8em;
  position: sticky;
  line-height: 1.8;
}
#sidebar ul > li::before { content: unset; }
#sidebar ul ul > li { margin-left: 1em; }
#sidebar ul a { color: unset; }


#content {
  overflow-y: scroll;
  flex-grow: 1;
  flex-shrink: 1;
}
h1, h2, h3, h4 {
  color: #ffffffec;
  font-weight: unset;
  font-family: var(--serif);
  overflow: hidden;
}
h1 {
  font-size: 2em;
  font-weight:700;
  margin-top: 1em;
  line-height: 1.2;
  overflow: visible;
}
h2 {
  font-size: 1.6em;
  margin-top: 1em;
}
h3 {
  font-size: 1.1em;
  margin-top: .6em;
}
h2 + p, h3 + p {
  margin-top: .3em;
}
.heading-note {
  margin-left: 2em;
  font-style: italic;
  margin-top: .5em;
}
p, :not(li) > ul {
  margin: .5em 0;
}
p + ul {
  margin-top: -.5em;
}
ul {
  list-style-type: none;
}
ul li::before { content: "•"; margin: 0 1ch; color: var(--accent); font-weight: bold; }


.article-info, h2, h3 {
  border-bottom: 1px solid var(--border);
}
.article-info {
  padding-bottom: .7em;
  padding: 0 .2ch .7em;
  color: #fff8;
  font-weight: bold;
  font-size: .8em;
  line-height: 1.2;
}

#info-box {
  display: block;
  float: right;
  clear: right;
  width: fit-content;
  border: 1px solid var(--border);
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  border-collapse: separate;
  border-spacing: .5em .5em;
  line-height: 1.2;
}

#info-box th {
  text-align: center;
  background-color: var(--accent);
  padding: .5em;
  font-weight: bold;
  font-family: var(--serif);
  line-height: 1;
}

#info-box img {
  width: 240px;
  min-width: 100%;
  display: block;
}


span.fract {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
span.fract > sup, span.fract > sub {
  display: block;
  font: inherit;
  line-height: 1.1;
}
span.fract > sup::after {
  content: "";
  border-bottom: 1px solid;
  display: block;
}
span.fract > span {display: none;}

var {
  font-style: italic;
  font-family: var(--serif);
}


/* table {
  border-spacing: 0;
  border-collapse: collapse;
} */
/* table td, table th {
  text-align: start;
}
table th {
  width: min-content;
  padding-right: 2ch;
  font-weight: normal;
  color: #bca4bcac;
}
table td {
  width: max-content;
} */


dl {
  display: grid;
  grid-template-columns: 30% 70%;
}
dt {
  align-self: center;
}
dt, dd { min-height: 2em; }


@media only screen and (max-width:760px) {
  #sidebar {
    border-bottom: 1px solid var(--border);
    position: unset;
  }
  #sidebar > nav { position: unset; }
  #page-container {
    display: block; 
    border-radius: 0;
    box-shadow: none;
  }
}