*{padding:0;margin:0;left:0;top:0;box-sizing:border-box;scrollbar-color: #c8bac88f transparent;}
h1,h2,h3,h4,th{color:#ffffffec;font-weight:unset;font-family:var(--serif);overflow: hidden;}
h1{font-size:2em;font-weight:700;}
h2{font-size:1.6em;}
h3{font-size:1.1em;}
p{margin:1em 0;}
a:focus,[tabindex]:focus{outline:#fff 3px solid;}
@supports selector(:focus-visible){a:focus:not(:focus-visible),[tabindex]:focus:not(:focus-visible){outline:none;}}
a:focus-visible{outline:#fff 3px solid;}
.float-right{float:right;}
.pixelart{image-rendering:pixelated;}

a {
  color: #1cd7e4;
  font-weight: 700;
  text-shadow: .1em .05em #000000;
  text-decoration: none;
}
a:hover:not(.no-deco) { text-decoration: underline wavy #fff 1px; }

:root {
  color: #ffffffc4;
  --border: #a170a982;
  --border-radius: 3px;
  --serif: Tinos, Times, serif;
  font-family: Inter, 'Noto Sans', system-ui, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  background-color: #171819;
  background-image: url('../assets/textures/abstrpurpl.png');
	color-scheme: dark;
}
::selection {
  background-color: #ae7cff56;
}

#page-container {
  width: 100%;
  max-width: 1420px;
  display: flex;
  flex-direction: row;
  margin: 1em auto;

  background-color: #231a49ef;
  box-shadow: inset 0 0 0 1px #a062ac52, inset 0 1px #fff3, inset 0 -1px #fff1, 0 0 0 1px #0006;
  border-radius: var(--border-radius);
  padding: 1.2em 3em;
}

#content {
  overflow-y: scroll;
  flex-grow: 1;
  flex-shrink: 1;
}

#sidebar {
  flex-basis: 18em;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 3em;
  display: inline;
  position: relative;
}

#sidebar > header {
  padding: 3em 0 1em;
  text-align: center;
}
#sidebar > header > a {
  color: unset;
  background-clip: text;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-family: var(--serif);
  font-weight: 700;
  text-decoration: underline wavy #34c7e0 1px;
}

#sidebar > nav {
  padding-top: .8em;
  position: sticky;
}

#sidebar ul > li::before { content: unset; }
#sidebar ul ul > li { margin-left: 1em; }
#sidebar a { font-weight: unset; }

section { padding: .8em 0; }
h3 { margin-top: .6em; }

.article-info, h2, h3 {
  border-bottom: 1px solid var(--border);
  margin-bottom: .2em;
}
.article-info {
  margin-bottom: 1em;
  padding-bottom: .7em;
}

.article-info > .chip {
  background-color: #fff2;
  box-shadow: inset 0 0 0 1px #fff1, 0 1px #0004;
  text-shadow: 0 1px #0006;
  color: #fffb;
  padding: .3rem .6rem;
  font-weight: bold;
  border-radius: 99px;
  font-size: .8rem;
  line-height: 1;
}

#info-box {
  display: block;
  float: right;
  clear: right;
  width: fit-content;
  border: 1px solid var(--border);
  margin-left: 1em;
  margin-bottom: 1em;
  padding: .5em;
}

#info-box th, td {
  padding: .3em;
}

#info-box th {
  text-align: center;
  background-color: rgba(112, 255, 207, 0.265);
}


span.fract {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
span.fract > sup, span.fract > sub {
  display: block;
  font: inherit;
  line-height: 1.1;
}
span.fract > sup::after {
  content: "";
  border-bottom: 1px solid;
  display: block;
}
span.fract > span {display: none;}

var {
  font-style: italic;
  font-family: var(--serif);
}


table {
  border-spacing: 0;
  border-collapse: collapse;
}
/* table td, table th {
  text-align: start;
}
table th {
  width: min-content;
  padding-right: 2ch;
  font-weight: normal;
  color: #bca4bcac;
}
table td {
  width: max-content;
} */


ul {
  list-style-type: none;
  line-height: 1.8;
}
ul li::before { content: "•"; margin: 0 1ch; }


dl {
  display: grid;
  grid-template-columns: 30% 70%;
}
dt {
  align-self: center;
}
dt, dd { min-height: 2em; }


@media only screen and (max-width:760px) {
  #sidebar {
    border-bottom: 1px solid var(--border);
    position: unset;
  }
  #page-container {
    display: block; 
    border-radius: 0;
    box-shadow: none;
  }
}