<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name=language content=en>

    <!-- Replace the attribute values here with your own information -->
    <meta name=copyright content=YOUR_NAME>
    <meta name=author content=YOUR_NAME>
    <meta name=description content=DESCRIPTION>

    <meta name=no-email-collection>
    <meta name=referrer content=no-referrer>

    <!-- Will be used on some browsers, like vivaldi, mac os' safari & android's chrome to tint it's ui -->
    <meta name=theme-color content=#8800000>

    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel=stylesheet href=style.css>
    <link rel=icon href=avatar.png>
    <title>TITLE</title>
  </head>
  <body>
    <section>
      <h2>These are my creations...</h2>
      <p>They are very good</p>
    </section>
    <section>
      <h2>stuuufff</h2>
      <ul>
        <li><a href=YOUR_LINK_URL>YOUR_LINK_NAME</a></li>
        <li><a href=YOUR_LINK_URL>YOUR_LINK_NAME</a></li>
        <li><a href=YOUR_LINK_URL>YOUR_LINK_NAME</a></li>
        <li><a href=YOUR_LINK_URL>YOUR_LINK_NAME</a></li>
      </ul>
    </section>
    <section>
      <h2>stuuufff</h2>
      <ul>
        <li><a href=YOUR_LINK_URL>YOUR_LINK_NAME</a></li>
        <li><a href=YOUR_LINK_URL>YOUR_LINK_NAME</a></li>
        <li><a href=YOUR_LINK_URL>YOUR_LINK_NAME</a></li>
        <li><a href=YOUR_LINK_URL>YOUR_LINK_NAME</a></li>
      </ul>
    </section>
  </body>
</html>