
.datetime {
  opacity: 0.6;
  font-size: .8em;
}

.box .summary {
  font-size: .8em;
}

.box .datetime {
  float: right;
}

.experience {
  margin: 2em 0;
}

.experience a:not(:hover) {
  text-decoration: none;
}

.box .spacer::after,
.experience .spacer::after {
  content: " :: ";
  font-family: monospace;
}

.box-column {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 1em;
}

.grid.c3 {
  --columns: 3;
}

@media only screen and (max-width:640px) {
  .grid {
    grid-template-columns: 100%;
  }
}