<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name=language content=en>

    <meta name=copyright content=YOUR_NAME>
    <meta name=author content=YOUR_NAME>
    <meta name=description content=DESCRIPTION>

    <meta name=no-email-collection>

    <meta name=referrer content=no-referrer>

    <meta name=theme-color content=#8800000>

    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link rel=stylesheet href=shared.css>  <!-- The global stylesheet, with the colorscheme and common stuff -->
    <link rel=stylesheet href=style.css>   <!-- Specific to this page -->

    <link rel=icon href=avatar.png>
    <title>2024 • Sample Page</title>
  </head>
  <body>
    <header>
      <h1>Sample Page</h1>
      <a class=back href=..>2024</a>
    </header>
    <nav> <!-- The content table of the page -->
      <ul>
        <li><a href=#fun-sites>Fun Sites</a></li>
        <li><a href=#conlanging>Conlanging</a></li>
        <li><a href=#links>Useful Links</a></li>
      </ul>
    </nav>
    <section class=flat>
      <p>
        Sample page text, this is not in a box cuz the section has the class .flat
      </p>
    </section>
    <section id=fun-sites>
      <h2>Fun Sites</h2>
      <ul>
        <li><a href=https://pointerpointer.com>Pointer Pointer</a></li>
        <li><a href=https://hmpg.net>End of the Internet</a></li>
        <li><a href=https://citrons.xyz/a/memetic-apioform-page.html>Memetic Apioform</a></li>
      </ul>
    </section>
    <section id=conlanging>
      <h2>Conlanging</h2>
      <ul>
        <li><a href=http://www.zompist.com/kit.html>The Language Construction Kit</a></li>
        <li><a href=https://wals.info>World Atlas of Language Structures</a></li>
      </ul>
    </section>
    <section id=links>
      <h2>Useful Links</h2>
      <p>Stufffff, dolor sin amet lorem ipsumm</p>
    </section>
    <footer>
      <nav>
        <span>
          <a href="/">
            <svg height=1.5em class=icon viewBox="0 0 245.76 245.76">
              <path fill=currentColor d="m 102.24,224.58803 c -6.336002,-0.38767 -16.920002,-1.38111 -23.520002,-2.20764 -6.6,-0.82654 -18.346558,-2.01904 -26.103463,-2.65 -17.521566,-1.42523 -16.081431,-0.20643 -16.984737,-14.37439 -1.381392,-21.66655 -2.16089,-20.25064 16.208201,-29.44113 31.634214,-15.82734 63.275251,-24.09385 82.054111,-21.43739 23.20338,3.28236 36.17928,7.35602 57.58964,18.07972 24.82672,12.43483 23.55723,11.37321 23.55128,19.69484 -0.0145,20.24314 -0.95593,25.57688 -4.69948,26.62453 -15.77897,4.41582 -76.67974,7.63365 -108.09555,5.71146 z m 17.4273,-92.17865 C 87.65934,127.20346 67.906825,53.017289 93.131399,32.746269 120.73765,10.561282 159.13204,22.861012 163.20603,55.194835 c 1.11295,8.833043 0.95001,12.038169 -1.58205,31.119426 -3.4809,26.231659 -24.19106,48.984589 -41.95668,46.095119 z"/>
            </svg>
          </a>
        </span>
          <a href=/SOME_PAGE_LINK>SOME_PAGE</a>
          <a href=/SOME_PAGE_LINK>SOME_PAGE</a>
          <a href=/SOME_PAGE_LINK>SOME_PAGE</a>
        <span>
        <a class=icon title=Copyright href=LINK_TO_COPYRIGHT_INFO>©</a>
        </span>
      </nav>
    </footer>
  </body>
</html>
