
h1,h2,h3,h4{font-weight:unset;overflow: hidden;}
h1{font-size:1.8em;font-weight:700;}
h2{font-size:1.4em;}
p { margin:1em 0; }

body {
    font-family: Tinos, Times, serif;
    margin: 0;
    background-color: #000;
}

section {
    width: 100%;
    box-sizing: border-box;
    padding: 3em;
    background-attachment: fixed;
}

section.description {
    background-color: #141410;
}

section.a {
    background-image: url(evrgren2.jpg);
}

section.b {
    background-image: url(neovines.png);
}

::selection {
    background-color: #cb71ff79;
}