<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name=language content=en>

    <!-- These are some metadata tags to put information about your website -->
    <!-- It can be used to show a little preview/description of the site, -->
    <!-- when you link to it in a social platform or messaging app -->
    <!-- (and will also be used if your site's indexed by a search engine) -->
    <!-- Replace the attribute values here with your own information -->
    <!-- If an attribute value contains spaces, you must use "" around it, otherwise it's optional -->
    <meta name=copyright content=YOUR_NAME>
    <meta name=author content=YOUR_NAME>
    <meta name=description content=DESCRIPTION>

    <!-- This is so that bots/crawlers know that you don't want ur emails collected -->
    <meta name=no-email-collection>

    <!-- This is so that when a user clicks on a link on this page, -->
    <!-- the destination site doesn't know where they came from -->
    <meta name=referrer content=no-referrer>

    <!-- Will be used on some browsers, like vivaldi, mac os' safari & android's chrome to tint it's ui -->
    <meta name=theme-color content=#8800000>

    <!-- Makes the website scale to adapt to a mobile form factor -->
    <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <!-- Links the stylesheet to this page -->
    <link rel=stylesheet href=style.css>

    <!-- The text & icon on the browser tab -->
    <link rel=icon href=icon.gif>
    <title>Barebones Website</title>
  </head>
  <body>
    <header>
      <nav>
        <a href=#>Home</a>
        <a href=faves>Stuff I Like</a>
        <a href=creations>Creations</a>
      </nav>
    </header>
    <section class=profile>
      <div class=header>
        <h1>Hi, I'm YOUR_NAME</h1>
      </div>
      <table>
        <tr>
          <td>🕓 timezone</td>
          <td>UTC+x</td>
        </tr>
        <tr>
          <td>🗣️ pronouns</td>
          <td>they/them</td>
        </tr>
        <tr>
          <td>💜 fav color</td>
          <td>FAV_COLOR</td>
        </tr>
        <tr>
          <td>🕸️ fedi</td>
          <!-- Tells any potential crawler that this url is you, -->
          <!-- used for stuff like verification on mastodon -->
          <td><a rel=me href=YOUR_LINK_URL>YOUR_LINK_NAME</a></td>
        </tr>
        <tr>
          <td>✉️ email</td>
          <td><a rel="me nofollow" href=mailto:john@example.com>john@example.com</a></td>
        </tr>
      </table>
    </section>
    <section>
      <h2>💖 some links</h2>
      <ul>
        <li><a href=YOUR_LINK_URL>YOUR_LINK_NAME</a></li>
        <li><a href=YOUR_LINK_URL>YOUR_LINK_NAME</a></li>
        <li><a href=YOUR_LINK_URL>YOUR_LINK_NAME</a></li>
        <li><a href=YOUR_LINK_URL>YOUR_LINK_NAME</a></li>
      </ul>
    </section>
    <section>
      <h2>🫶 webrings</h2>
      <div class=webring>
        <a class=arrow href=WEBRING_URL/previous referrerpolicy=origin>&lt;-&nbsp;prev</a>
        <a class=center href=WEBRING_URL>WEBRING_NAME</a>
        <a class=arrow href=WEBRING_URL/next referrerpolicy=origin>next&nbsp;-&gt;</a>
      </div>
      <div class=webring>
        <a class=arrow href=WEBRING_URL/previous referrerpolicy=origin>&lt;-&nbsp;prev</a>
        <a class=center href=WEBRING_URL>WEBRING_NAME</a>
        <a class=arrow href=WEBRING_URL/next referrerpolicy=origin>next&nbsp;-&gt;</a>
      </div>
      <div class=webring>
        <a class=arrow href=WEBRING_URL/previous referrerpolicy=origin>&lt;-&nbsp;prev</a>
        <a class=center href=WEBRING_URL>WEBRING_NAME</a>
        <a class=arrow href=WEBRING_URL/next referrerpolicy=origin>next&nbsp;-&gt;</a>
      </div>
    </section>
  </body>
</html>