
@font-face {
    font-family: "Conlang";
    src: url('./conlang.woff2') format("woff2");
}

.conlang {
    font-family: "Conlang", serif;
    font-size: 1.2em;
}

.translation {
    color: var(--base-foreground-weak);
}

.translation::before {
    content: "means: ";
    opacity: 0.6;
}

.phonetical {
    font-family: sans-serif;
    color: var(--base-foreground-weak);
}

.phonetical::before {
    content: "sounds: ";
    color: var(--base-foreground-weak);
    font-family: monospace;
    opacity: 0.6;
}