:root {
    --fg: #f9f4ecf0;
    --fg-weak: #97b5baac;
    --fg-border: #776fab52;
    --fg-strong: #fffeee;
    --surface-background: #18182a;
    --surface-background-dim: #121220ef;

    --border-radius: 4px;
    
    --color-num: #e3fb78;
    --color-id: #ffa49f;
    --color-op: #77a5ff;
    --color-kw: #c082f4;

    color-scheme: dark;
    background-color: #000;
    color: var(--fg);
    font-family: sans-serif;

    background-image: url('../../assets/textures/abstrpurpl.png');
    background-color: #28213b;
    background-blend-mode: overlay;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    height: 100vh;
    max-width: 840px;
    max-height: 840px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--surface-background);
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 0 1px var(--fg-border), inset 0 1px #fff3, inset 0 -1px #fff1, 0 0 0 1px #0006;
}

#work-area {
    flex-grow: 1;
    flex-shrink: 1;
    display: grid;
    grid-template-columns: 60% 40%;
    overflow-y: hidden;
}

#work-area > div:not(:first-child) {
    border-left: 1px solid var(--fg-border);
}

#form {
    display: flex;
    flex-direction: row;
}

#form input {
    flex-grow: 1;
    background-color: var(--surface-background-dim);
    border: none;
    margin: 1px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border-top: 1px solid var(--fg-border);
    padding: 1em;
    font-family: monospace;
}

@media(max-width: 840px) {
    #form input { border-radius: 0; }
    main { border-radius: 0; max-width: unset; box-shadow: none; }
}
@media(max-height: 840px) {
    #form input { border-radius: 0; }
    main { border-radius: 0; max-height: unset; box-shadow: none; }
}

#output {
    display: flex;
    flex-direction: column-reverse;
    padding: .5em;
    overflow-y: scroll;
}

#output article {
    margin: .5em;
}

#output article.error {
    color: #ff8888;
}
#output article.error::before {
    content: "error: ";
    opacity: .5;
}


#output article > header {
    font-family: monospace;
    margin-bottom: .25em;
}
#output article > header::before {
    content: "query: ";
    color: var(--fg-weak);
}

#output article > div {
    margin-top: .25em;
    background-color: var(--surface-background-dim);
    border: 1px dashed var(--fg-border);
    border-radius: var(--border-radius);
    padding: .5em;
    display: inline-block;
}

.token-num { color: var(--color-num); }
.token-id { color: var(--color-id); }
.token-op { color: var(--color-op); }
.token-kw { color: var(--color-kw); }
.token-ph { opacity: .5; }

details {
    border-bottom: 1px solid var(--fg-border);
}
details > summary { padding: 1em; }

details dl {
    display: grid;
    grid-template-columns: min(10ch, 30%) auto;
    margin: 0 1em;
}
details dl > dd {
    margin-left: 1em;
    margin-bottom: 1em;
}
details dl > dd > code {
    background-color: var(--surface-background-dim);
    border-radius: var(--border-radius);
    padding: .5em;
    font-family: monospace;
    display: block;
}
details dl > dd > .extra {
    margin-top: .5em;
    display: block;
    color: var(--fg-weak);
}
details dl > dt {
    margin-bottom: 1em;
}

#info table {
    margin: .5em 1em;
    border-spacing: 0;
    font-family: monospace;
}
#info table td {
    padding: .5em 0;
}
#info table td:first-child {
    text-align: end;
}
#info table td:first-child::after {
    content: "=";
    margin: 0 1ch;
}
#info table td > var {
    font-style: normal;
    color: var(--color-id);
}


.add {
    display: block;
    margin: 0 auto;
    max-width: 728px;
    max-height: 90px;
    width: 100%;
    border: none;
    aspect-ratio: 728/90;
    align-self: center;
}  