:root {
    --color-accent: #f582ff;
    --base-background: #171819;
    --base-foreground: #fff2def0;
    --base-foreground-weak: #bca6a4ac;
    --base-foreground-border: #ab6f9f52;
    --base-foreground-strong: #fffeee;
    --surface-background: #282430ef;
    --surface-background-dim: #1a1723d4;

    --border-radius: 4px;

    color-scheme: dark;
    background-color: #000;
    color: #eee;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
}

main {
    width: 100%;
    height: 100vh;
    max-width: 720px;
    max-height: 720px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--surface-background);
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 0 1px var(--base-foreground-border), inset 0 1px #fff3, inset 0 -1px #fff1, 0 0 0 1px #0006;
}

#form {
    display: flex;
    flex-direction: row;
}

#form input {
    flex-grow: 1;
    background-color: var(--surface-background-dim);
    border: none;
    margin: 1px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border-top: 1px solid var(--base-foreground-border);
    padding: 1em;
}

#output {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    padding: .5em;
    overflow-y: scroll;
}

#output article {
    margin: .5em;
}

#output article.error {
    color: #ff8888;
}
#output article.error::before {
    content: "error: ";
    opacity: .5;
}


#output article > header {
    font-family: monospace;
    margin-bottom: .25em;
}
#output article > header::before {
    content: "query: ";
    color: var(--base-foreground-weak);
}

#output article > div {
    margin-top: .25em;
    background-color: var(--surface-background-dim);
    border: 1px dashed var(--base-foreground-border);
    border-radius: var(--border-radius);
    padding: .5em;
    display: inline-block;
}

.token-num {
    color: #ffb688;
}
.token-id {
    color: #88ffae;
}
.token-op {
    color: #77a5ff;
}
.token-kw {
    color: #ff88ff;
}