:root {
    --color-accent: #f582ff;
    --base-background: #171819;
    --base-foreground: #fff2def0;
    --base-foreground-weak: #bca6a4ac;
    --base-foreground-border: #ab6f9f52;
    --base-foreground-strong: #fffeee;
    --surface-background: #282430ef;
    --surface-background-dim: #1a1723d4;

    --border-radius: 4px;
    
    --color-num: #78fb9f;
    --color-id: #ffa49f;
    --color-op: #77a5ff;
    --color-kw: #c082f4;

    color-scheme: dark;
    background-color: #000;
    color: #eee;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
}

main {
    width: 100%;
    height: 100vh;
    max-width: 840px;
    max-height: 840px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--surface-background);
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 0 1px var(--base-foreground-border), inset 0 1px #fff3, inset 0 -1px #fff1, 0 0 0 1px #0006;
}

#work-area {
    flex-grow: 1;
    flex-shrink: 1;
    display: grid;
    grid-template-columns: 60% 40%;
    overflow-y: hidden;
}

#work-area > div:not(:first-child) {
    border-left: 1px solid var(--base-foreground-border);
}

#form {
    display: flex;
    flex-direction: row;
}

#form input {
    flex-grow: 1;
    background-color: var(--surface-background-dim);
    border: none;
    margin: 1px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border-top: 1px solid var(--base-foreground-border);
    padding: 1em;
}

@media only screen and (max-width: 840px) {
    #form input { border-radius: 0; }
    main { border-radius: 0; max-width: unset; }
}
@media only screen and (max-height: 840px) {
    #form input { border-radius: 0; }
    main { border-radius: 0; max-height: unset; }
}

#output {
    display: flex;
    flex-direction: column-reverse;
    padding: .5em;
    overflow-y: scroll;
}

#output article {
    margin: .5em;
}

#output article.error {
    color: #ff8888;
}
#output article.error::before {
    content: "error: ";
    opacity: .5;
}


#output article > header {
    font-family: monospace;
    margin-bottom: .25em;
}
#output article > header::before {
    content: "query: ";
    color: var(--base-foreground-weak);
}

#output article > div {
    margin-top: .25em;
    background-color: var(--surface-background-dim);
    border: 1px dashed var(--base-foreground-border);
    border-radius: var(--border-radius);
    padding: .5em;
    display: inline-block;
}

.token-num { color: var(--color-num); }
.token-id { color: var(--color-id); }
.token-op { color: var(--color-op); }
.token-kw { color: var(--color-kw); }
.token-ph { opacity: .5; }

details {
    border-bottom: 1px solid var(--base-foreground-border);
}
details > summary { padding: 1em; }

details dl {
    display: grid;
    grid-template-columns: min(10ch, 30%) auto;
    margin: 0 1em;
}
details dl > dd {
    margin-left: 1em;
    margin-bottom: 1em;
}
details dl > dt {
    margin-bottom: 1em;
}

#info table {
    margin: .5em 1em;
    border-spacing: 0;
}
#info table td {
    padding: .5em 0;
}
#info table td:first-child {
    text-align: end;
}
#info table td:first-child::after {
    content: "=";
    margin: 0 1ch;
}
#info table td > var {
    font-style: normal;
    color: var(--color-id);
}