
h1,h2,h3,h4{font-weight:unset;overflow: hidden;}
h1{font-size:1.8em;font-weight:700;}
h2{font-size:1.4em;}
p { margin:1em 0; }

body {
    font-family: Tinos, Times, serif;
    font-family: Montserrat;
    margin: 0;
}
::selection {
    background-color: #cb71ff79;
}

section {
    width: 100%;
    box-sizing: border-box;
    background-attachment: fixed;
    position: relative;
}

section.description {
    background-color: #141410;
    padding: 3em;
}

section.a {
    background-image: url(./cold-beach-rail.jpg);
    background-size: cover;
    height: 720px;
}

section img[top] {
    right: 0;
    position: absolute;
}