* { margin: 0; padding: 0; border: none; font-size: 1em; }

/* The most outer element in the website's tree, it contains <html>, which contains <body> */
:root {
    /* Define some colors to use across the entire website */
    /* Try playing with these to quickly change the look of the site */
    --color-bg: #1d1818;
    --color-fg: #dbccb4;
    --color-fg-strong: #fff;
    --color-fg-weak: #947571;
    --color-border: #91817649;
    --color-accent: #ffae00;

    /* var(x) gets you the value of the variable x, which must be declared in this or an outer element */
    color: var(--color-fg);
    background-color: var(--color-bg);
    background-image: url('bg.gif');
}

a {
    color: var(--color-accent);
    text-decoration: underline wavy #fff 1px;
}
a:not(:hover) { text-decoration: none; }
h1, h2, h3 { color: var(--color-fg-strong); }

body {
    font-family: monospace;
    font-size: 16px;

    width: 100%;
    /* Makes it so the page doesn't stretch to extreme widths on wide monitors & also adds some nice side margins */
    max-width: 96ch;
    margin: 5em auto;
    line-height: 1.5;

    display: grid;
    --columns: 2;
    --gap: 2ch;
    grid-gap: var(--gap);
    grid-template-columns: repeat(var(--columns), calc((100% - var(--gap)) / var(--columns)));
}

@media only screen and (max-width: 500px) {
  body { grid-template-columns: 100%; }
}

section { margin: 1em 0; }
section > h2::after { content: ":"; color: var(--color-fg-weak); }

ul {
    padding-left: 1ch;
    list-style-type: none;
}
li::before { content: "-> "; color: var(--color-fg-weak); }

table {
    border-spacing: 0;
    border-collapse: collapse;
}
table td:first-child::after { content: ":"; margin-right: 3ch; color: var(--color-fg-weak); }
table tr::before { content: "$"; margin-right: 1ch; color: var(--color-fg-weak); }

h1 .name {
    /* Pretty gradient */
    background-image: linear-gradient(35deg, #7bff00, #ffdc18, #ff588a);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* Special treatment for webrings */
.webring {
    display: flex;
    flex-direction: row;
    margin-left: 4ch;
}
.webring .center {
    margin: 0 3ch;
    color: var(--color-fg-strong);
    text-decoration: underline solid var(--color-accent) 2px;
}