
dl {
    margin: 0;
}
dl a { display: block; line-height: 2; font-weight: unset; }
dl dt {
    display: inline;
    font-weight: 700;
}
dl dt::after { content: ": "; }
dl dd {
    display: inline;
    margin: 0;
}