dl {
    display: grid;
    grid-template-columns: 30% 70%;
}
dt {
    align-self: center;
}
dt, dd { min-height: 2em; }

span.fract {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
span.fract > sup, span.fract > sub {
    display: block;
    font: inherit;
    line-height: 1.1;
}
span.fract > sup::after {
    content: "";
    border-bottom: 1px solid;
    display: block;
}
span.fract > span {display: none;}

var {
    font-style: italic;
    font-family: serif;
}