
h1,h2,h3,h4{font-weight:unset;overflow: hidden;}
h1{font-size:1.8em;font-weight:700;}
h2{font-size:1.4em;}
p { margin:1em 0; }

:root {
    background-image: url(./abstrpurpl.png);
}
body {
    font-family: Inter, 'Noto Sans', system-ui, sans-serif;
}
::selection {
    background-color: #cb71ff79;
}