
/* ul > li > a {
    color: unset;
    font-weight: normal;
} */

section .grid {
    margin-bottom: .5em;
    display: grid;
    --columns: 2;
    gap: .5em;
    grid-template-columns: repeat(var(--columns), calc((100% - .5em * (var(--columns) - 1)) / var(--columns)));
}
section .grid article {
    margin-bottom: 0;
    margin-top: 0;
}

section article {
    /* border: 1px dashed #ddd; */
    border-left: 1px solid #ddd;
    border-radius: 0;
    margin: 1em 0;
    padding: 0 .8em;
    display: flow-root;
}

section article > img {
    max-width: 48px;
    max-height: 48px;
    float: inline-end;
    border-radius: 4px;
    margin: .3em 0;
    border: 1px solid #ddd;
}